{% liquid
    assign item_width = block.settings.item_width | default: '50%'
    assign item_width_1200 = block.settings.item_width_1200
    assign item_width_992 = block.settings.item_width_992
    assign item_width_768 = block.settings.item_width_768 | default: '100%'
    assign image = block.settings.image
    assign img_url = image | img_url: ''
    assign image_position = block.settings.image_position
    assign image_layout = block.settings.image_layout
    assign image_zoom = block.settings.image_zoom
    assign subtitle = block.settings.subtitle
    assign title = block.settings.title
    assign desc = block.settings.desc
    assign btn = block.settings.btn
    assign link = block.settings.link | default: '#'
    assign open_link = block.settings.open_link
    assign text_align = block.settings.text_align
    assign subtitle_cl = block.settings.subtitle_cl
    assign title_cl = block.settings.title_cl
    assign desc_cl = block.settings.desc_cl
    assign bg_image = block.settings.bg_image
    assign bg_position = block.settings.bg_position
    assign bg_size = block.settings.bg_size
    assign bg_repeat = block.settings.bg_repeat
    assign bg_fixed = block.settings.bg_fixed
    assign bg_gradient = block.settings.bg_gradient
    assign bg_cl = block.settings.bg_cl
    assign hover_effect = block.settings.hover_effect
%}
<div id="b_{{ block.id }}" class="banner-item style-02 image-{{ image_position }} image-{{ image_layout }}">
    <div class="inner">
        <span class="background"></span>
        <div class="image effect {{ hover_effect }}">
            <a href="{{ link }}" target="{{ open_link }}" class="effect-obj">
                {% if image != blank %}
                    <img class="lazyload pr_lazy_img" src="{{ img_url }}" data-src="{{ img_url }}" loading="lazy" alt="{{ image.alt | escape }}"/>
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full object-cover' }}
                {% endif %}
            </a>
        </div>
        <div class="content {{ text_align }}">
            {% if subtitle != blank %}<h4 class="subtitle">{{ subtitle }}</h4>{% endif %}
            {% if title != blank %}<h2 class="title">{{ title }}</h2>{% endif %}
            {% if desc != blank %}
                <div class="desc">{{ desc }}</div>
            {% endif %}
            {% if btn != blank %}
                <div class="button-wrap"><a class="button" href="{{ link }}" target="{{ open_link }}">{{ btn }}</a></div>
            {% endif %}
        </div>
    </div>
    {% capture style %}
        {% if item_width != blank %}
            #b_{{ block.id }}{width:{{ item_width }}}
        {% endif %}
        {% if item_width_1200 != blank %}
            @media (max-width: 1199px){#b_{{ block.id }}{width:{{ item_width_1200 }}}}
        {% endif %}
        {% if item_width_992 != blank %}
            @media (max-width: 991px){#b_{{ block.id }}{width:{{ item_width_992 }}}}
        {% endif %}
        {% if item_width_768 != blank %}
            @media (max-width: 767px){#b_{{ block.id }}{width:{{ item_width_768 }}}}
        {% endif %}
        #b_{{ block.id }} .background{
        {% if bg_image != blank %}
            background-image: url('{{ bg_image | img_url: "" }}');
            background-position:{{ bg_position }};
            background-size:{{ bg_size }};
            background-repeat:{{ bg_repeat }};
        {% endif %}
        {% if bg_gradient != blank %}background-image:{{ bg_gradient }};{% endif %}
        {% if bg_cl != blank and bg_cl.alpha != 0.0 %}background-color:{{ bg_cl }};{% endif %}
        }
        {% if subtitle_cl != blank and subtitle_cl.alpha != 0.0 %}#b_{{ block.id }} .subtitle{color:{{ subtitle_cl }}}{% endif %}
        {% if title_cl != blank and title_cl.alpha != 0.0 %}#b_{{ block.id }} .title{color:{{ title_cl }}}{% endif %}
        {% if desc_cl != blank and desc_cl.alpha != 0.0 %}#b_{{ block.id }} .desc{color:{{ desc_cl }}}{% endif %}
    {% endcapture %}
    {%- style -%}{{ style | strip_newlines | remove: "  " }}{%- endstyle -%}
</div>