{% liquid
    assign item_width = block.settings.item_width | default: '50%'
    assign item_width_1200 = block.settings.item_width_1200
    assign item_width_992 = block.settings.item_width_992
    assign item_width_768 = block.settings.item_width_768 | default: '100%'
    assign subtitle = block.settings.subtitle
    assign title = block.settings.title
    assign desc = block.settings.desc
    assign btn = block.settings.btn
    assign link = block.settings.link | default: '#'
    assign open_link = block.settings.open_link
    assign text_align = block.settings.text_align
    assign subtitle_cl = block.settings.subtitle_cl
    assign title_cl = block.settings.title_cl
    assign desc_cl = block.settings.desc_cl
    assign h_position = block.settings.h_position
    assign width = block.settings.width
    assign pd = block.settings.pd
    assign width_1200 = block.settings.width_1200
    assign pd_1200 = block.settings.pd_1200
    assign width_992 = block.settings.width_992
    assign pd_992 = block.settings.pd_992
    assign width_768 = block.settings.width_768
    assign pd_768 = block.settings.pd_768
    assign bg_image = block.settings.bg_image
    assign bg_position = block.settings.bg_position
    assign bg_size = block.settings.bg_size
    assign bg_repeat = block.settings.bg_repeat
    assign bg_fixed = block.settings.bg_fixed
    assign bg_gradient = block.settings.bg_gradient
    assign bg_cl = block.settings.bg_cl
    assign hover_effect = block.settings.hover_effect
%}
<div id="b_{{ block.id }}" class="banner-item style-01">
    <div class="inner effect {{ hover_effect }} {{ h_position }}">
        <a href="{{ link }}" class="background effect-obj"></a>
        <div class="content {{ text_align }}">
            {% if subtitle != blank %}<h4 class="subtitle" style="">{{ subtitle }}</h4>{% endif %}
            {% if title != blank %}<h2 class="title" style="">{{ title }}</h2>{% endif %}
            {% if desc != blank %}
                <div class="desc" style="">{{ desc }}</div>
            {% endif %}
            {% if btn != blank %}
                <div class="button-wrap"><a class="button" href="{{ link }}" target="{{ open_link }}">{{ btn }}</a></div>
            {% endif %}
        </div>
    </div>
    {% capture style %}
        {% if item_width != blank %}
            #b_{{ block.id }}{width:{{ item_width }}}
        {% endif %}
        {% if item_width_1200 != blank %}
            @media (max-width: 1199px){#b_{{ block.id }}{width:{{ item_width_1200 }}}}
        {% endif %}
        {% if item_width_992 != blank %}
            @media (max-width: 991px){#b_{{ block.id }}{width:{{ item_width_992 }}}}
        {% endif %}
        {% if item_width_768 != blank %}
            @media (max-width: 767px){#b_{{ block.id }}{width:{{ item_width_768 }}}}
        {% endif %}
        #b_{{ block.id }} .background{
        {% if bg_image != blank %}
            background-image: url('{{ bg_image | img_url: "" }}');
            background-position:{{ bg_position }};
            background-size:{{ bg_size }};
            background-repeat:{{ bg_repeat }};
        {% endif %}
        {% if bg_gradient != blank %}background-image:{{ bg_gradient }};{% endif %}
        {% if bg_cl != blank and bg_cl.alpha != 0.0 %}background-color:{{ bg_cl }};{% endif %}
        }
        {% if subtitle_cl != blank and subtitle_cl.alpha != 0.0 %}#b_{{ block.id }} .subtitle{color:{{ subtitle_cl }}}{% endif %}
        {% if title_cl != blank and title_cl.alpha != 0.0 %}#b_{{ block.id }} .title{color:{{ title_cl }}}{% endif %}
        {% if desc_cl != blank and desc_cl.alpha != 0.0 %}#b_{{ block.id }} .desc{color:{{ desc_cl }}}{% endif %}
        #b_{{ block.id }} .content{
        {% if width != blank %}width:{{ width }};{% endif %}
        {% if pd != blank %}padding:{{ pd }};{% endif %}
        }
        {%- if width_1200 != blank or pd_1200 != blank -%}
            @media (max-width: 1199px){
            #b_{{ block.id }} .content{
            {% if width_1200 != blank %}width:{{ width_1200 }};{% endif %}
            {% if pd_1200 != blank %}padding:{{ pd_1200 }};{% endif %}
            }
            }
        {%- endif -%}
        {%- if width_992 != blank or pd_992 != blank -%}
            @media (max-width: 991px){
            #b_{{ block.id }} .content{
            {% if width_992 != blank %}width:{{ width_992 }};{% endif %}
            {% if pd_992 != blank %}padding:{{ pd_992 }};{% endif %}
            }
            }
        {%- endif -%}
        {%- if width_768 != blank or pd_768 != blank -%}
            @media (max-width: 767px){
            #b_{{ block.id }} .content{
            {% if width_768 != blank %}width:{{ width_768 }};{% endif %}
            {% if pd_768 != blank %}padding:{{ pd_768 }};{% endif %}
            }
            }
        {%- endif -%}
    {% endcapture %}
    {%- style -%}{{ style | strip_newlines | remove: "  " }}{%- endstyle -%}
</div>