{% liquid
    assign border_top = block.settings.border_top
    assign border_bottom = block.settings.border_bottom
    assign desc_inline = block.settings.desc_inline
%}
<div id="b_{{ block.id }}" class="section-block footer-newsletter {% if border_top %}border-top{% endif %} {% if border_bottom %}border-bottom{% endif %} {% if desc_inline %}desc-inline{% endif %}" {{ block.shopify_attributes }}>
    {%- render 'section_style_block', block: block -%}
    <div class="alz-newsletter widget widget_newsletter" style="--form-width:{{ block.settings.form_width }}">
        {%- assign title = block.settings.title -%}
        {%- if title != blank -%}
            {%- if block.settings.mobile_toggle -%}
                <h3 class="widget-title js-mobile-toggle">{{ title }}<span class="icon alz-icon-plus"></span></h3>
            {%- else -%}
                <h3 class="widget-title">{{ title }}</h3>
            {%- endif -%}
        {%- endif -%}
        <div class="widget-content {% if block.settings.mobile_toggle %}js-mobile-toggle-content{% endif %}">
            {%- if block.settings.desc != blank -%}
                <p class="desc">{{ block.settings.desc }}</p>
            {%- endif -%}
            {%- form 'customer', class: 'newsletter-form-wrap' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form {{ block.settings.form_style }}">
                    <label class="form-field field-email">
                        <input type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" value="{%- if customer -%}{{ customer.email }}{%- endif -%}" class="input-text" required="required">
                        <span class="input-focus"></span>
                    </label>
                    <button type="submit" class="submit-btn">{{ 'general.newsletter_form.submit' | t }}</button>
                </div>
                {%- if form.posted_successfully? -%}
                    <div class="shopify-msg success">{{ 'general.newsletter_form.confirmation' | t }}</div>
                {%- elsif form.errors -%}
                    <div class="shopify-msg error">{{ form.errors | default_errors }}</div>
                {%- endif -%}
            {%- endform -%}
            {%- if block.settings.use_social -%}
                <div class="footer-social">
                    {%- render 'social_link', class: block.settings.social_style, icon_cl: block.settings.social_icon_cl, icon_bg: block.settings.social_icon_bg -%}
                </div>
            {%- endif -%}
            {%- if block.settings.img_payment != blank -%}
                {%- assign img_payment_url = block.settings.img_payment | img_url: '' -%}
                <div class="footer-payment">
                    <h4 class="title">{{ block.settings.title_payment }}</h4>
                    <img class="lazyload" src="{{ img_payment_url }}" data-src="{{ img_payment_url }}" loading="lazy" alt="{{ section.settings.img_payment }}"/>
                </div>
            {%- endif -%}
        </div>
    </div>
</div>