{%- liquid
    assign depth = depth | default: 0
    assign title_array = link.title | split: '['
    for title_item in title_array
        if title_item contains 'target'
            assign target = title_item | remove: 'target' | remove: ']' | strip
        endif
        if title_item contains 'icon_'
            assign icon = title_item | remove: 'icon_' | remove: ']' | strip
        endif
        if title_item contains 'label_'
            assign label = title_item | remove: 'label_' | remove: ']' | strip
        endif
        if title_item contains 'label-cl_'
            assign label_cl = title_item | remove: 'label-cl_' | remove: ']' | strip
        endif
        if title_item contains 'label-bg_'
            assign label_bg = title_item | remove: 'label-bg_' | remove: ']' | strip
        endif
    endfor
    assign pageUrl = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&'
-%}
<li class="menu-item {% if link.active or link.url == pageUrl %}current{% endif %} {% if link.links != blank %}menu-item-has-children{% endif %}">
    <a href="{{ link.url }}" {%- if target != blank -%}target="{{ target }}"{%- endif -%}>
        {%- if icon != blank -%}<span class="icon {{ icon }}"></span>{%- endif -%}
        {{ title_array[0] }}
        {%- if link.object != blank -%}
            {%- assign count_number = link.object.all_products_count | default: blogs[link.object.handle].articles_count -%}
            {%- if count and count_number != blank -%}
                <span class="count">({{ count_number }})</span>
            {%- endif -%}
        {%- endif -%}
        {%- if label != blank -%}
            <span class="label" style="{%- if label_cl != blank and label_cl.alpha != 0.0 -%}--label-cl: {{ label_cl }};{%- endif -%}{%- if label_bg != blank and label_bg.alpha != 0.0 -%}--label-bg: {{ label_bg }};{%- endif -%}">
                {{ label }}
            </span>
        {%- endif -%}
        <span class="caret"></span>
    </a>
    {%- if link.links != blank and depth > 0 -%}
        {%- assign depth = depth | minus: 1 -%}
        <ul class="submenu">
            {%- for link_2 in link.links -%}
                {%- render 'header-menu-item', link: link_2, depth: depth, count: count, pageUrl: pageUrl -%}
            {%- endfor -%}
        </ul>
    {%- endif -%}
</li>