{% liquid
    assign phone_title = section.settings.phone_title
    assign phone_text = section.settings.phone_text
    assign phone_link = section.settings.phone_link | default: '#'
    assign mail_title = section.settings.mail_title
    assign mail_text = section.settings.mail_text
    assign mail_link = section.settings.mail_link | default: '#'
    assign icon_cl = section.settings.contact_icon_cl
    assign title_cl = section.settings.contact_title_cl
    assign text_cl = section.settings.contact_text_cl
%}
{% if phone_text != blank or mail_text != blank %}
    <div class="header-contact apply-header-css">
        {% if phone_text != blank %}
            <a class="link" href="{{ phone_link }}">
                <span class="icon main-icon-phone"></span>
                <span class="content">
                    <span class="title">{{ phone_title }}</span>
                    <span class="text">{{ phone_text }}</span>
                </span>
            </a>
        {% endif %}
        {% if mail_text != blank %}
            <a class="link" href="{{ mail_link }}">
                <span class="icon main-icon-mail"></span>
                <span class="content">
                    <span class="title">{{ mail_title }}</span>
                    <span class="text">{{ mail_text }}</span>
                </span>
            </a>
        {% endif %}
        {% capture style %}
            {% if icon_cl != blank and icon_cl.alpha != 0.0 %}.header-contact .icon{color:{{ icon_cl }}}{% endif %}
            {% if title_cl != blank and title_cl.alpha != 0.0 %}.header-contact .title{color:{{ title_cl }}}{% endif %}
            {% if text_cl != blank and text_cl.alpha != 0.0 %}.header-contact .text{color:{{ text_cl }}}{% endif %}
        {% endcapture %}
        {%- assign style = style | strip_newlines | remove: "  " -%}
        {%- if style != blank -%}{%- style -%}{{ style }}{%- endstyle -%}{%- endif -%}
    </div>
{% endif %}