{% liquid
    assign search_limit = settings.search_limit | default: 6
    assign search_category = settings.search_category
    assign search_key = settings.search_key
    assign search_key_title = settings.search_key_title
    assign input_cl = section.settings.input_cl
    assign input_bg = section.settings.input_bg
    assign input_bg_transparent = section.settings.input_bg_transparent
    assign input_bd = section.settings.input_bd
    assign input_cl_h = section.settings.input_cl_h
    assign input_bg_h = section.settings.input_bg_h
    assign input_bd_h = section.settings.input_bd_h
    assign btn_cl = section.settings.btn_cl
    assign btn_bg = section.settings.btn_bg
    assign btn_cl_h = section.settings.btn_cl_h
    assign btn_bg_h = section.settings.btn_bg_h
%}
<div class="header-search-bar">
    <div class="alz-search {% if search_category %}has-category{% endif %}">
        <form action="{{ routes.search_url }}" method="post" class="search_header mini_search_frm pr js_frm_search apply-header-css">
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="options[unavailable_products]" value="last">
            <input type="hidden" name="options[prefix]" value="none">
            {% if search_category %}
                <div class="search-category">
                    <select name="product_type">
                        <option value="*">{{ 'general.search.all_cat' | t }}</option>
                        {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}
                            <option value="{{ product_type }}"{% if search_pr_type == product_type %} selected="selected"{% endif %}>{{ product_type }}</option>{%- endfor -%}
                    </select>
                </div>
            {% endif %}
            <input class="search-input js_iput_search" autocomplete="off" type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
            <button class="search-submit js_btn_search{% if settings.ajax_search %} pe_none{% endif %}" type="submit">
                <span class="icon main-icon-search"></span>
                <span>{{ 'general.search.btn' | t }}</span>
            </button>
            <span class="search-loader main-icon-close"></span>
        </form>
        {% if search_key != blank %}
            <div class="search-key">
                {% if search_key_title != blank %}
                    <h4 class="title">{{ search_key_title }}</h4>
                {% endif %}
                {%- if search_key != blank %}
                    {% assign array = search_key | split: ',' -%}
                    {% assign limit = array.size | plus: 0 | minus: 1 -%}
                    {%- for i in (0..limit) -%}
                        <a href="{{ shop.url }}/search?type=product&options%5Bunavailable_products%5D=last&options%5Bprefix%5D=none&q={{ array[i] | replace: ' ', '%20' }}">
                            {{ array[i] }}
                        </a>
                        {% if i < limit %},{% endif %}
                    {%- endfor -%}
                {% endif %}
            </div>
        {% endif %}
        <div class="search-result">
            <div class="container">
                <div class="js_prs_search flex-box" style="{% if search_limit > 0 %}--cols:{{ search_limit }};--cols-1500:{{ search_limit }};{% endif %}">
                    {%- if collection != blank -%}
                        {%- for product in collection.products limit: limit -%}
                            {% render 'product-style', product: product %}
                        {%- endfor -%}
                        {%- if collection.all_products_count > limit -%}
                            <div class="button-wrap">
                                <a href="{{ routes.root_url }}collections/all" class="btn fwsb detail_link">{{ 'general.search.view_all' | t }}</a>
                            </div>
                        {%- endif -%}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
    {% capture style %}
        .alz-search .search_header{
        {% if input_cl != blank and input_cl.alpha != 0.0 %}--input-cl:{{ input_cl }};{% endif %}
        {% if input_bg != blank and input_bg.alpha != 0.0 %}--input-bg:{{ input_bg }};{% endif %}
        {% if input_bg_transparent %}--input-bg:transparent;{% endif %}
        {% if input_bd != blank and input_bd.alpha != 0.0 %}--input-bd:{{ input_bd }};{% endif %}
        {% if input_cl_h != blank and input_cl_h.alpha != 0.0 %}--input-cl-hover:{{ input_cl_h }};{% endif %}
        {% if input_bg_h != blank and input_bg_h.alpha != 0.0 %}--input-bg-hover:{{ input_bg_h }};{% endif %}
        {% if input_bd_h != blank and input_bd_h.alpha != 0.0 %}--input-bd-hover:{{ input_bd_h }};{% endif %}
        {% if btn_cl != blank and btn_cl.alpha != 0.0 %}--btn-cl:{{ btn_cl }};{% endif %}
        {% if btn_bg != blank and btn_bg.alpha != 0.0 %}--btn-bg:{{ btn_bg }};{% endif %}
        {% if btn_cl_h != blank and btn_cl_h.alpha != 0.0 %}--btn-cl-hover:{{ btn_cl_h }};{% endif %}
        {% if btn_bg_h != blank and btn_bg_h.alpha != 0.0 %}--btn-bg-hover:{{ btn_bg_h }};{% endif %}
        }
    {% endcapture %}
    {%- if style != blank -%}{%- style -%}{{ style | strip_newlines | remove: "  " }}{%- endstyle -%}{%- endif -%}
</div>
