{%- assign template = template.name | handle -%}
{% assign wishlist_enable = true | default: settings.wishlist_enable %}
{% assign compare_enable = true | default: settings.compare_enable %}
{%- assign namespaces = 'wishlist,compare' | split: ',' -%}
{%- for namespace in namespaces -%}
    <template id="template-{{ namespace }}-ajax">
        {%- assign image_size = '100x' -%}
        {%- assign show_title = show_title | default: true -%}
        {%- assign show_variant = show_variant | default: true -%}
        {%- assign show_price = show_price | default: true -%}
        {%- assign show_button_remove = show_button_remove | default: true -%}
        <div class="product-store-lists product-item" data-js-product data-product-handle="{{ product.handle }}" data-product-variant-id="{{ id }}">
            <div class="product-store-lists__image thumb effect image-zoom">
                <a href="{{ url }}" class="d-block"><img class="effect-obj" alt="{{ product.title }}"></a>
            </div>
            <div class="product-store-lists__content info">
                <h3 class="product-store-lists__title product-title"><a href="{{ url }}">{{ title }}</a></h3>
                <div class="product-store-lists__price">
                    {% render 'product-get-price', price: price, compare_at_price: compare_at_price %}
                </div>
                <span class="product-store-lists__remove js-store-lists-remove-{{ namespace }} remove" title="{{ 'products.product.remove' | t }}"><i class="main-icon-x"></i></span>
            </div>
        </div>
    </template>
{%- endfor -%}
<div class="popup js-popup" tabindex="0">
    <div class="mask-overlay"></div>
    <!-- LOGIN -->
    <div id="login-popup" class="hero_canvas" data-include="/search/?view=login">
        <div class="loading_bg"></div>
    </div>
    <!-- SEARCH POPUP -->
    <div class="header-search-popup">
        <div class="container">
            <h3 class="search-title text-center">{{ settings.search_title }}</h3>
            <a href="javascript:void(0)" class="search-close-btn popup-close"></a>
        </div>
        {% render 'header-search-bar' %}
    </div>
    <!-- NOTIFICATION -->
    <div class="js_lz_slpr dn" data-include="/search/?q={{ t_name }}&view=cr_s_pp"></div>
    <div class="popup__bg" data-js-popup-bg></div>
    <!-- WISHLIST -->
    {%- if wishlist_enable -%}
        <div class="popup__body" data-js-popup-name="wishlist" data-effect="mfp-move-horizontal" data-popup-right data-js-popup-ajax>
            <div id="wishlist_popup" class="popup-wishlist hero_canvas" data-popup-content>
                <div class="popup-head">
                    <h3 class="popup-title">{{ 'general.wishlist.title' | t }}</h3>
                    <span class="popup-close close_popup_ajax"></span>
                </div>
                <div class="popup-wishlist_content">
                    <div class="popup-wishlist_items list-item">
                        <div class="ajax-loading"></div>
                    </div>
                    <div class="popup-wishlist_buttons">
                        <a href="{{ routes.root_url }}pages/wishlist" class="btn btn--full">{{ 'general.wishlist.view' | t }}</a>
                    </div>
                </div>
                <div class="wishlist-empty popup-wishlist_empty text-center">
                    <div class="icon">
                        <svg width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.0346 89.8707C13.6486 78.2693 3 61.7359 3 40.4386C3 23.1205 16.9553 9.10938 34.1613 9.10938C44.3615 9.10938 53.3849 14.0413 59.0455 21.6635C64.706 14.0413 73.7854 9.10938 83.9297 9.10938C90.3749 9.10938 96.3717 11.0707 101.36 14.4895" stroke="#D7DBE0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M113.633 31.0229C114.586 33.9934 115.091 37.188 115.091 40.4946C115.091 79.7265 78.7732 102.873 62.52 108.478C60.6144 109.15 57.4759 109.15 55.5704 108.478C51.9274 107.245 47.3318 105.115 42.3438 102.145" stroke="#D7DBE0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M115.091 3L3 115.091" stroke="#D7DBE0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <h5 class="not-found">{{ 'general.wishlist.empty' | t }}</h5>
                </div>
            </div>
        </div>
    {%- endif -%}
    <!-- COMPARE -->
    {%- if compare_enable -%}
        <div class="popup__body" data-js-popup-name="compare-full" data-effect="mfp-move-horizontal" data-popup-center>
            <div class="popup-compare-full bigger mfp-with-anim mfp-popup" data-popup-content>
                <h3 class="mfp-popup-title">
                    {{ 'general.compare.title' | t }}
                </h3>
                <div class="mfp-popup-content popup-compare-full__content"></div>
            </div>
        </div>
    {%- endif -%}
    <!-- QUICK VIEW -->
    <div class="popup-quickview mfp-with-anim mfp-popup" data-effect="mfp-move-horizontal" id="quick-view-modal"></div>
    <!-- PRODUCT SUMMARY FORM CONTACT -->
    <div id="contact-us" data-effect="mfp-move-horizontal" class="mfp-hide mfp-with-anim mfp-popup contact-us-open-popup">
        <h3 class="mfp-popup-title">{{ 'contact.form.title' | t }}</h3>
        <div class="mfp-popup-content">
            {% form 'contact', class: 'form-contact', id: 'contact-form' %}
                {% if form.posted_successfully? %}
                    <div class="successForm feedback">{{ 'contact.form.post_success' | t }}</div>
                {% endif %}
                {% if form.errors %}
                    <div class="errorForm feedback">
                        <p>Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
                        {% for field in form.errors %}
                            <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% assign name_attr = 'contact.form.name' | t | handle %}
                <div class="row">
                    <p class="col-xs-6">
                        <input id="name" name="contact[{{ name_attr }}]" type="text" placeholder="{{ 'contact.form.name' | t }} *" required
                               value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.first_name }}{% endif %}">
                    </p>
                    <p class="col-xs-6">
                        <input id="email" name="contact[email]" type="text" placeholder="{{ 'contact.form.email' | t }} *" required
                               value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                    </p>
                </div>
                <p>
                    <input id="ContactForm-phone" name="contact[{{ 'contact.form.phone' | t }}]" type="tel" placeholder="{{ 'contact.form.phone' | t }} *" autocomplete="tel" pattern="[0-9\-]*" required
                           value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                </p>
                <p>
                    <textarea id="message" class="input-note" name="contact[body]" placeholder="{{ 'contact.form.message' | t }} *" rows="8" required>
                        {% if form.body %}{{ form.body }}{% endif %}
                    </textarea>
                </p>
                <button class="button submit" type="submit">{{ 'contact.form.submit' | t }}</button>
            {% endform %}
        </div>
    </div>
</div>
{% if request.page_type != 'cart' %}
    <div id="js_cart_popup" class="hero_canvas">
        {% render 'minicart' %}
    </div>
{% endif %}