{% liquid
    assign ratio = article.image.aspect_ratio
    assign aspect_ratio = aspect_ratio | default: settings.post_ratio
    if aspect_ratio and aspect_ratio > 0
        assign ratio = aspect_ratio
    endif
%}
{% assign img_url = article.image | img_url: '' %}
<div class="post-thumb zoom_img">
    {% if article != '' and article.image != blank %}
        <a class="ratio" href="{{ article.url }}" style="--ratio-percent: {{ 1.0 | divided_by: ratio | times: 100 }}%;">
            <img class="lazyload pr_lazy_img" src="{{ img_url }}" data-src="{{ img_url }}" loading="lazy" alt="{{ article.image.alt }}"/>
        </a>
    {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full object-cover' }}
    {% endif %}
</div>
