{% liquid
    assign variants_size = product.variants | size
%}
<div class="product-cart {% if popup %}popup{% endif %}">
    {% if product.available %}
        {% if variants_size == 1 %}
            <button type="submit" class="button add-to-cart js_add_to_cart_button {% if settings.disable_ajax_cart %}page_{{ settings.custom_page_cart }}{% endif %}" data-pid="{{ product.variants.first.id }}" data-js-product-button-add-to-cart>
                <span class="circle-loading"></span>
                <span class="text">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
        {% else %}
            <a href="{{ product.url }}" class="button js_select_options select_options">
                <span class="circle-loading"></span>
                <span class="text">{{ 'products.product.select_options' | t }}</span>
            </a>
        {% endif %}
    {% else %}
        <a class="button add-to-cart js-btn-sold-out" href="{{ product.url | within: collection }}">
            <span class="text">{{ 'products.product.sold_out' | t }}</span>
        </a>
    {% endif %}
</div>