<!-- breadcrumb -->
{% section 'breadcrumb' %}

<!-- main -->
{%- liquid
    assign content_width = settings.customer_content_width
    assign container = settings.customer_container
    assign space = settings.customer_space
-%}

<section class="customer-page customer-login space-{{ space }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            {% render 'customer-form-login' %}
            {% render 'customer-form-recover' %}
            {% comment %}
              If accounts are set as optional, the following will be shown as an option during checkout, not on the default /login page.
            {% endcomment %}
            {% if shop.checkout.guest_login %}
                <div class="text-center">
                    <hr class="hr--invisible">
                    <h2>{{ 'customer.general.guest_title' | t }}</h2>
                    {% form 'guest_login' %}
                        <input type="submit" class="submit button" value="{{ 'customer.general.guest_continue' | t }}">
                    {% endform %}
                </div>
            {% endif %}
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function ($) {
        var hashId = window.location.hash;
        console.log(hashId)
        if (hashId == '#recover') {
            $('#loginForm').slideUp();
            $('#recoverPassword').slideDown();
        }
    });
</script>