<!-- breadcrumb -->
{% section 'breadcrumb' %}

<!-- main -->
{%- liquid
    assign content_width = settings.customer_content_width
    assign container = settings.customer_container
    assign space = settings.customer_space
-%}

<section class="customer-page customer-reset-password space-{{ space }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            <div id="resetPassword">
                {% form 'reset_customer_password' %}
                    <h3 class="title">{{ 'customer.reset.title' | t }}</h3>
                    <p class="subtext">{{ 'customer.reset.subtext' | t: email: email }}</p>
                    {{ form.errors | default_errors }}
                    <p class="form-field">
                        <label for="ResetPassword">{{ 'customer.general.password' | t }}
                            <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password]" id="ResetPassword">
                    </p>
                    <p class="form-field">
                        <label for="PasswordConfirmation">{{ 'customer.general.confirm_password' | t }}
                            <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation">
                    </p>
                    <p class="group-button">
                        <input type="submit" class="button submit" value="{{ 'customer.reset.button' | t }}">
                    </p>
                {% endform %}
            </div>
        </div>
    </div>
</section>