<<<<<<< Updated upstream
=======
<<<<<<< HEAD
<!-- breadcrumb -->
{% section 'breadcrumb' %}

<!-- main -->
{%- liquid
    assign content_width = settings.customer_content_width
    assign container = settings.customer_container
    assign space = settings.customer_space
-%}

<section class="customer-page customer-reset-password space-{{ space }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            <div id="resetPassword">
                {% form 'reset_customer_password' %}
                    <h3 class="title">{{ 'customer.reset.title' | t }}</h3>
                    <p class="subtext">{{ 'customer.reset.subtext' | t: email: email }}</p>
                    {{ form.errors | default_errors }}
                    <p class="form-field">
                        <label for="ResetPassword">{{ 'customer.general.password' | t }}
                            <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password]" id="ResetPassword">
                    </p>
                    <p class="form-field">
                        <label for="PasswordConfirmation">{{ 'customer.general.confirm_password' | t }}
                            <span class="required">*</span></label>
                        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation">
                    </p>
                    <p class="group-button">
                        <input type="submit" class="button submit" value="{{ 'customer.reset.button' | t }}">
                    </p>
                {% endform %}
            </div>
        </div>
    </div>
</section>
=======
>>>>>>> Stashed changes
{% layout settings.customer_layout %}

<div id="template">
    <div class="template_header">
      <h2 class="title">Reset Account Password</h2>
      <p class="note">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="btn" type="submit" value="Reset Password" />
      </div>
    {% endform %}
</div>
<<<<<<< Updated upstream
=======
>>>>>>> 591c370b3ff6d77f68a2202a62d75e7810e2688a
>>>>>>> Stashed changes
