{% liquid
    assign sid = section.id
    assign content_width = section.settings.content_width
    assign container = section.settings.container
    assign space = section.settings.space
    assign item_border = section.settings.item_border
%}

<section id="{{ sid }}" class="alz-banner style-02 space-{{ space }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            <div class="slick-carousel {{ item_border }} grid-box-wrap">
                <div class="items-list grid-box">
                    {% if section.blocks.size > 0 %}
                        {% for block in section.blocks %}
                            {%- render 'banner-style-02', block: block -%}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% render 'section_style' %}
{% render 'section_style_box' %}

{% schema %}
{
    "name": "Banner 02",
    "class": "alz-section section-banner animate--slide-in",
    "settings": [
        {
            "type": "number",
            "id": "z_index",
            "label": "Z-Index"
        },
        {
            "type": "select",
            "id": "hidden_mobile",
            "label": "Hide Section on mobile",
            "options": [
                {
                    "value": "",
                    "label": "No"
                },
                {
                    "value": "hide_1200",
                    "label": "(resolution < 1200px)"
                },
                {
                    "value": "hide_992",
                    "label": "(resolution < 992px)"
                },
                {
                    "value": "hide_768",
                    "label": "(resolution < 768px)"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                },
                {
                    "value": "full-width-pd",
                    "label": "Full Width no Padding"
                }
            ]
        },
        {
            "type": "text",
            "id": "container",
            "label": "Container width",
            "info": "Example: 1410px, 70%, 70vw"
        },
        {
            "type": "text",
            "id": "space",
            "label": "Space",
            "info": "Example:10,20,30,40,50,60,70,80,90,100"
        },
        {
            "type": "header",
            "content": "== With vertical menu"
        },
        {
            "type": "checkbox",
            "id": "vertical_offset",
            "label": "Offset for vertical menu always open"
        },
        {
            "type": "text",
            "id": "vertical_offset_gap",
            "label": "Gap with vertical menu",
            "info": "Example: 10px"
        },
        {
            "type": "header",
            "content": "== Item settings"
        },
        {
            "type": "select",
            "id": "item_border",
            "label": "Item border",
            "info": "If Full, Columns gap & Rows gap is 0",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "border-item",
                    "label": "Item"
                },
                {
                    "value": "border-between",
                    "label": "Between"
                },
                {
                    "value": "border-full",
                    "label": "Full"
                }
            ]
        },
        {
            "type": "header",
            "content": "== Loop settings"
        },
        {
            "type": "text",
            "id": "cols_gap",
            "label": "Columns gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "text",
            "id": "rows_gap",
            "label": "Rows gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "header",
            "content": "== Section settings"
        },
        {
            "type": "checkbox",
            "id": "for_inner",
            "label": "Settings apply for inner"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "checkbox",
            "id": "bg_fixed",
            "label": "Background fixed",
            "info": "For desktop (resolution > 1200px)"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "line_cl",
            "label": "Line color"
        },
        {
            "type": "text",
            "id": "fz",
            "label": "Font size",
            "info": "Example: 16px"
        },
        {
            "type": "text",
            "id": "lh",
            "label": "Line Height",
            "info": "Example: 24px, 1.4em"
        },
        {
            "type": "text",
            "id": "ls",
            "label": "Letter spacing",
            "info": "Example: 1px, 0.1em"
        },
        {
            "type": "text",
            "id": "fw",
            "label": "Font weight",
            "info": "Example: 100, 200, 300, 400, 500, 600, 700, 800"
        },
        {
            "type": "text",
            "id": "tt",
            "label": "Text transform",
            "info": "Example: none, uppercase, lowercase, capitalize"
        },
        {
            "type": "color",
            "id": "bd_color",
            "label": "Border color"
        },
        {
            "type": "text",
            "id": "bd_style",
            "label": "Border style",
            "info": "Example: solid, dotted, dashed, double, groove, ridge, outset"
        },
        {
            "type": "text",
            "id": "bd_width",
            "label": "Border width",
            "info": "Example: 1px, 1px 0, 1px 0 0 0"
        },
        {
            "type": "text",
            "id": "bd_radius",
            "label": "Border radius",
            "info": "Example: 10px, 20px 10px, 20px 20px 10px 10px, 10%"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "bd_width_1200",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_1200",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_1200",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "bd_width_992",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_992",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_992",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 768px)"
        },
        {
            "type": "text",
            "id": "bd_width_768",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_768",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_768",
            "label": "Padding"
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "text",
                    "id": "item_width",
                    "label": "Width",
                    "default": "50%"
                },
                {
                    "type": "text",
                    "id": "item_width_1200",
                    "label": "Width (resolution < 1200px)"
                },
                {
                    "type": "text",
                    "id": "item_width_992",
                    "label": "Width (resolution < 992px)"
                },
                {
                    "type": "text",
                    "id": "item_width_768",
                    "label": "Width (resolution < 768px)",
                    "default": "100%"
                },
                {
                    "type": "header",
                    "content": "== Image settings"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_position",
                    "label": "Image position",
                    "options": [
                        {
                            "value": "start",
                            "label": "Start"
                        },
                        {
                            "value": "end",
                            "label": "End"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "image_layout",
                    "label": "Image layout",
                    "options": [
                        {
                            "value": "",
                            "label": "Default"
                        },
                        {
                            "value": "diagonal",
                            "label": "Diagonal"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "== Text settings"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "default": "SUBTITLE"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Blank Title"
                },
                {
                    "type": "textarea",
                    "id": "desc",
                    "label": "Description",
                    "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry, lorem Ipsum has been the industry’s standard dummy text ever since the 1500s."
                },
                {
                    "type": "text",
                    "id": "btn",
                    "label": "Button",
                    "default": "Shop now"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "label": "Open link in",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "subtitle_cl",
                    "label": "Subtitle color"
                },
                {
                    "type": "color",
                    "id": "title_cl",
                    "label": "Title color"
                },
                {
                    "type": "color",
                    "id": "desc_cl",
                    "label": "Description color"
                },
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Text align",
                    "options": [
                        {
                            "value": "",
                            "label": "Default"
                        },
                        {
                            "value": "text-start",
                            "label": "Start"
                        },
                        {
                            "value": "text-center",
                            "label": "Center"
                        },
                        {
                            "value": "text-end",
                            "label": "End"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "== Background settings"
                },
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Background image"
                },
                {
                    "type": "text",
                    "id": "bg_position",
                    "label": "Background position",
                    "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
                    "default": "center center"
                },
                {
                    "type": "text",
                    "id": "bg_size",
                    "label": "Background size",
                    "info": "Example: cover, contain, 100% 100%, 100px 100px",
                    "default": "cover"
                },
                {
                    "type": "text",
                    "id": "bg_repeat",
                    "label": "Background repeat",
                    "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
                    "default": "no-repeat"
                },
                {
                    "type": "checkbox",
                    "id": "bg_fixed",
                    "label": "Background fixed",
                    "info": "For desktop (resolution > 1200px)"
                },
                {
                    "type": "color_background",
                    "id": "bg_gradient",
                    "label": "Background gradient"
                },
                {
                    "type": "color",
                    "id": "bg_cl",
                    "label": "Background color"
                },
                {
                    "type": "select",
                    "id": "hover_effect",
                    "label": "Hover Effect",
                    "options": [
                        {
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "image-zoom",
                            "label": "Image zoom"
                        },
                        {
                            "value": "image-overlay",
                            "label": "Image overlay"
                        },
                        {
                            "value": "plus-zoom",
                            "label": "Plus zoom"
                        },
                        {
                            "value": "overlay-plus",
                            "label": "Overlay Plus"
                        },
                        {
                            "value": "overlay-cross",
                            "label": "Overlay Cross"
                        },
                        {
                            "value": "overlay-horizontal",
                            "label": "Overlay Horizontal"
                        },
                        {
                            "value": "overlay-vertical",
                            "label": "Overlay Vertical"
                        },
                        {
                            "value": "border-zoom",
                            "label": "Border Zoom"
                        },
                        {
                            "value": "border-plus",
                            "label": "Border Plus"
                        },
                        {
                            "value": "border-scale",
                            "label": "Border Scale"
                        }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner 02",
            "blocks": [
                {
                    "type": "item"
                },
                {
                    "type": "item"
                }
            ]
        }
    ]
}
{% endschema %}
