<link rel="stylesheet" href="{{ 'products_sidebar.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'sidebar-products.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'blog_sidebar.css' |asset_url }}">

<div class="container page_blog">
  <section class="posts_blog">
    <div class="items-products blog" id="items-page-1">
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'baby_sleep.png' | asset_url }}" alt="">
          </div>
          <div id="featured_post">
            <p>Featured Post</p>
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'pin.png' | asset_url }}" alt="">
              </div>

              <p>Featured Post</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Eco-friendly Swaddles & Baby Sleep Sacks We Love</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
         
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
        <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'fun_indoors.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Portable Play Yards for Indoor & Outdoor Fun</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
         
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'childrens_toys.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Mail Call! 5 Subscription Toy Boxes for Young Kids</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
    
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'sleep_expert.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">How This Sleep Expert Gets Her Kids Ready for Bed</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
   
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
    
    </div>
    <div class="items-products blog" id="items-page-2" style="display: none;">
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'childrens_toys.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Mail Call! 5 Subscription Toy Boxes for Young Kids</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
      
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'sleep_expert.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">How This Sleep Expert Gets Her Kids Ready for Bed</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
         
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'baby_sleep.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Eco-friendly Swaddles & Baby Sleep Sacks We Love</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
         
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'fun_indoors.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Portable Play Yards for Indoor & Outdoor Fun</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
        
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="items-products blog" id="items-page-3" style="display: none;">
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'fun_indoors.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Portable Play Yards for Indoor & Outdoor Fun</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
          <br>
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada<br>
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'childrens_toys.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Mail Call! 5 Subscription Toy Boxes for Young Kids</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
          
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'sleep_expert.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">How This Sleep Expert Gets Her Kids Ready for Bed</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
          
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
      <div class="blog-medium">
        <a href="#">
          <div class="blog_img">
            <img src="{{ 'baby_sleep.png' | asset_url }}" alt="">
          </div>
        </a>
        <div class="meta_blog">
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'author.png' | asset_url }}" alt="">
              </div>

              <p>John Doe</p>
            </div>
          </a>

          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>

              <p>Nov 10, 2021</p>
            </div>
          </a>
          <span>|</span>
          <a href="#">
            <div class="sticky-post">
              <div class="img_sticky-post">
                <img src="{{ 'tags.png' | asset_url }}" alt="">
              </div>

              <p>Kids World</p>
            </div>
          </a>
        </div>
        <h2 class="title_blog">Eco-friendly Swaddles & Baby Sleep Sacks We Love</h2>
        <p class="content_blog">
          Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
          
          pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada
          porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
        </p>
         <a class="more_next" href="#">
          <p>Read More</p>
          <div class="img_next">
            <img src="{{ 'more_next.png' | asset_url }}" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="pagination_products">
      <!-- Giả lập nút phân trang -->
      <div class="pagination" data-page="1">1</div>
      <div class="pagination" data-page="2">2</div>
      <div class="pagination" data-page="3">3</div>
    </div>
  </section>
  <section class="sidebar_blog">
    <div class="sidebar_infor">
        <h4>Search</h4>
        <div class="search-form">
            <form action="https://joytoy.templatekit.co" method="get">
                <label class="text-field field-search">
                    <input
                        id="elementor-search-form-8262d8a"
                        class="input-text elementor-search-form__input"
                        type="search"
                        name="s"
                        required="required"
                        placeholder="I’m searching for…"
                    >
                    <span class="input-focus"></span>
                </label>
                <button class="btn_search" type="submit">
                    <i class='bx bx-search' style='color:#ffffff' ></i>
                    
                </button>
            </form>
        </div>
    </div>
    <div class="infor_categories sidebar_infor">
      <h4 class="title_infor-sidebar">Categories</h4>
      <ul class="list_infor">
        <li>Newborn Shop</li>
        <li>Baby Care Products</li>
        <li>Toddlers Shop</li>
        <li>School Clothing & Sets</li>
        <li>Toys & Games</li>
        <li>Books & Stationary</li>
        <li>Strollers & Car Seats</li>
        <li>Ride-Ons</li>
      </ul>
    </div>
    <div class="recent-posts sidebar_infor">
      <h4>Recent Posts</h4>
      <a href="#">
        <div class="recent-posts_small">
          <div class="blog_image">
            <img src="{{ 'RecentPosts1.png' | asset_url }}" alt="">
          </div>
          <div class="content-blog_image">
            <h5>
              Homemade Gifts <br>
              for 3 Year Olds that <br>
              They Can Help Make
            </h5>
            <div class="date_title">
              <div class="date_image">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>
              <p>Nov 10, 2021</p>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="recent-posts_small">
          <div class="blog_image">
            <img src="{{ 'RecentPosts2.png' | asset_url }}" alt="">
          </div>
          <div class="content-blog_image">
            <h5>
              The Emotional<br>
              Rollercoaster of <br>
              Parenting
            </h5>
            <div class="date_title">
              <div class="date_image">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>
              <p>Nov 18, 2021</p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="recent-posts_small">
          <div class="blog_image">
            <img src="{{ 'RecentPosts3.png' | asset_url }}" alt="">
          </div>
          <div class="content-blog_image">
            <h5>
              Snackable Science<br>
              Experiments for <br>
              Kids
            </h5>
            <div class="date_title">
              <div class="date_image">
                <img src="{{ 'date.png' | asset_url }}" alt="">
              </div>
              <p>Nov 20, 2021</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="sidebar_infor">
      <h4>Recent Comments</h4>
      <div class="recent_comments">
        <div class="img_comment">
          <img src="{{ 'comment.png' | asset_url }}" alt="">
        </div>
        <div class="content_comment">
          <p>
            <span class="author_comment">John Doe </span>Praesent eu lectus enim.<br>
            Fusce ac nisi non orci tus de malesuada
          </p>
        </div>
      </div>
      <div class="recent_comments">
        <div class="img_comment">
          <img src="{{ 'comment.png' | asset_url }}" alt="">
        </div>
        <div class="content_comment">
          <p>
            <span class="author_comment">Author </span>Praesent eu lectus enim. Fusce <br>
            ac nisi non orci tus de <br>
            malesuada
          </p>
        </div>
      </div>
      <div class="recent_comments">
        <div class="img_comment">
          <img src="{{ 'comment.png' | asset_url }}" alt="">
        </div>
        <div class="content_comment">
          <p>
            <span class="author_comment">Melinda Watson</span> Praesent eu lectus <br>
            enim. Fusce ac nisi non orci tus de malesuada
          </p>
        </div>
      </div>
    </div>
    <div class="sidebar_infor">
      <h4>Calendar</h4>
      <div class="calendar">
        <div class="calendar-header">
          <div class="month-year"><span id="month"></span> <span id="year"></span></div>
        </div>
        <div class="calendar-body">
          <div class="day-names">
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            <span>S</span>
          </div>
          <div class="calendar-days" id="calendar-days">
            <!-- Days will be populated here -->
          </div>
        </div>
        <div class="btn_month">
          <button class="prev-btn">&lt; PREV</button>
          <button class="next-btn">NEXT &gt;</button>
        </div>
      </div>
    </div>
    <div class="sidebar_infor">
      <h4>Archives</h4>
      <div class="archives">
        <div class="infor_archives">
          <div class="img_archives">
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </div>

          <a href="#">
            <p>August 2021</p>
          </a>
        </div>
        <div class="infor_archives">
          <div class="img_archives">
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </div>
          <a href="">
            <p>September 2021</p>
          </a>
        </div>
        <div class="infor_archives">
          <div class="img_archives">
            <img src="{{ 'arrow.png' | asset_url }}" alt="">
          </div>

          <a href="#">
            <p>October 2021</p>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar_infor">
      <h4>Tags</h4>
      <div class="selec_tags">
        <div class="infor_tags">
          <a class="tag_children" href="#">Children</a>
          <a class="tag_new-collection" href="#">New Collection</a>
        </div>

        <div class="infor_tags">
          <a class="tag_kids" href="#">Kids</a>
          <a class="tag_art" href="#">Art & Carft</a>
        </div>
        <div class="infor_tags">
          <a class="tag_baby-care" href="#">Baby Care</a>
        </div>
      </div>
    </div>
    <div class="sidebar_infor">
      <h4>Gallery</h4>
      <div class="img_gallery">
        <div class="img_gallery_card">
          <img src="{{ 'Gallery1.png' | asset_url }}" alt="">
          <img src="{{ 'Gallery2.png' | asset_url }}" alt="">
          <img src="{{ 'Gallery3.png' | asset_url }}" alt="">
        </div>

        <div class="img_gallery_card">
          <img src="{{ 'Gallery4.png' | asset_url }}" alt="">
          <img src="{{ 'Gallery5.png' | asset_url }}" alt="">
          <img src="{{ 'Gallery6.png' | asset_url }}" alt="">
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Main Blog",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_blog_1",
      "label": "Hình ảnh Blog 1"
    },
    {
      "type": "text",
      "id": "title_blog_1",
      "label": "Tiêu đề Blog 1"
    },
    {
      "type": "textarea",
      "id": "content_blog_1",
      "label": "Nội dung Blog 1"
    },
    {
      "type": "text",
      "id": "author_blog_1",
      "label": "Tác giả Blog 1"
    },
    {
      "type": "text",
      "id": "date_blog_1",
      "label": "Ngày đăng Blog 1"
    },
    {
      "type": "text",
      "id": "tag_blog_1",
      "label": "Thẻ Blog 1"
    },
    {
      "type": "url",
      "id": "read_more_link_1",
      "label": "Liên kết đọc thêm Blog 1"
    }
  ]
}
{% endschema %}

<script src="{{ 'pagination.js' | asset_url }}" defer></script>
<script src="{{ 'tag_list.js' | asset_url }}" defer></script>
<script src="{{ 'time_schedule.js' | asset_url }}" defer></script>

