{% liquid
    assign sid = section.id
    assign content_width = section.settings.content_width
    assign container = section.settings.container
    assign layout = section.settings.layout
    assign sticky_header = section.settings.sticky_header
%}
<div id="{{ sid }}" class="alz-header header-01 {{ layout }}">
    <section class="header-section header-main {% if sticky_header == 'main' %}header-sticky{% endif %}">
        <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
            <div class="section-inner{% if section.settings.m_inner_relative %} position-relative{% endif %}">
                {% case layout %}
                    {% when 'style-01' %}
                        {%- render 'header-logo' -%}
                        {%- render 'header-search-bar' -%}
                        <div class="header-end">
                            {%- render 'header-mobile-btn' -%}
                            {%- render 'header-control' -%}
                        </div>
                    {% when 'style-02' %}
                        {%- render 'header-logo' -%}
                        {%- render 'header-menu' -%}
                        <div class="header-end">
                            {%- render 'header-mobile-btn' -%}
                            {%- render 'header-control' -%}
                        </div>
                    {% when 'style-03' %}
                        {%- render 'header-search-bar' -%}
                        {%- render 'header-logo' -%}
                        <div class="header-end">
                            {%- render 'header-contact' -%}
                            {%- render 'header-mobile-btn' -%}
                            {%- render 'header-control' -%}
                        </div>
                {% endcase %}
            </div>
        </div>
    </section>
    <section class="header-section header-bottom {% if sticky_header == 'bottom' %}header-sticky{% endif %}">
        <div class="container {% if section.settings.layout == 'full-width' %}{{ section.settings.layout }} {% endif %} {% if section.settings.custom_width %}alz-custom-width{% endif %}" {% if section.settings.custom_width %}style="--alz-custom-width:{{ section.settings.container_width }}px;"{% endif %}>
            <div class="section-inner{% if section.settings.b_inner_relative %} position-relative{% endif %}">
                {%- render 'header-menu-vertical' -%}
                {% case layout %}
                    {% when 'style-01' %}
                        {%- render 'header-menu' -%}
                        {%- render 'header-contact' -%}
                    {% when 'style-02' %}
                        {%- render 'header-search-bar' -%}
                        {%- render 'header-contact' -%}
                    {% when 'style-03' %}
                        {%- render 'header-menu' -%}
                {% endcase %}
                {% if section.settings.language %}
                    <div class="header-language">{% render 'header-language' %}</div>
                {% endif %}
                {% if section.settings.currency %}
                    <div class="header-currency">{% render 'header-currency' %}</div>
                {% endif %}
                {% if section.settings.social %}
                    <div class="header-social">{% render 'social_link' %}</div>
                {% endif %}
            </div>
        </div>
    </section>
    {%- if request.design_mode -%}
        {%- assign arr_sub = 'link,product,cat' -%}
        {%- for block in se_blocks %}
            <div
                {% if arr_sub contains block.type %}
                    {% assign id_data = block.id %}
                    {{ block.shopify_attributes }}
                {% else %}
                    {% assign id_data2 = block.id %}
                {% endif %}
                id="bkjs_{{ id_data }}" data-id='{{ id_data2 }}'>
            </div>
        {% endfor -%}
    {%- endif -%}
</div>

{% render 'header_style' %}

{% schema %}
{
    "name": "Header 01",
    "class": "alz-section section-header",
    "settings": [
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                },
                {
                    "value": "full-width-pd",
                    "label": "Full Width no Padding"
                }
            ]
        },
        {
            "type": "text",
            "id": "container",
            "label": "Container width",
            "info": "Example: 1410px, 70%, 70vw"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
                {
                    "value": "style-01",
                    "label": "Default"
                },
                {
                    "value": "style-02",
                    "label": "Menu on Main"
                },
                {
                    "value": "style-03",
                    "label": "Logo Center"
                }
            ]
        },
        {
            "type": "select",
            "id": "sticky_header",
            "label": "Sticky Header",
            "options": [
                {
                    "value": "main",
                    "label": "Header Main"
                },
                {
                    "value": "bottom",
                    "label": "Header Bottom"
                },
                {
                    "value": "",
                    "label": "None"
                }
            ]
        },
        {
            "type": "header",
            "content": "== Header Search"
        },
        {
            "type": "color",
            "id": "input_cl",
            "label": "Input color"
        },
        {
            "type": "color",
            "id": "input_bg",
            "label": "Input background"
        },
        {
            "type": "checkbox",
            "id": "input_bg_transparent",
            "label": "Input background - transparent"
        },
        {
            "type": "color",
            "id": "input_bd",
            "label": "Input border"
        },
        {
            "type": "color",
            "id": "input_cl_h",
            "label": "Input color - hover"
        },
        {
            "type": "color",
            "id": "input_bg_h",
            "label": "Input background - hover"
        },
        {
            "type": "color",
            "id": "input_bd_h",
            "label": "Input border - hover"
        },
        {
            "type": "color",
            "id": "btn_cl",
            "label": "Button color"
        },
        {
            "type": "color",
            "id": "btn_bg",
            "label": "Button background"
        },
        {
            "type": "color",
            "id": "btn_cl_h",
            "label": "Button color - hover"
        },
        {
            "type": "color",
            "id": "btn_bg_h",
            "label": "Button background - hover"
        },
        {
            "type": "header",
            "content": "== Header Control"
        },
        {
            "type": "checkbox",
            "id": "hide_customer",
            "label": "Hide Customer"
        },
        {
            "type": "checkbox",
            "id": "hide_compare",
            "label": "Hide Compare"
        },
        {
            "type": "checkbox",
            "id": "hide_wishlist",
            "label": "Hide Wishlist"
        },
        {
            "type": "checkbox",
            "id": "hide_cart",
            "label": "Hide Cart"
        },
        {
            "type": "select",
            "id": "control_cart_style",
            "label": "Cart Style",
            "options": [
                {
                    "value": "style-01",
                    "label": "Style 01"
                },
                {
                    "value": "style-02",
                    "label": "Style 02"
                }
            ]
        },
        {
            "type": "header",
            "content": "== Header Contact"
        },
        {
            "type": "text",
            "id": "phone_title",
            "label": "Phone Title"
        },
        {
            "type": "text",
            "id": "phone_text",
            "label": "Phone Text"
        },
        {
            "type": "url",
            "id": "phone_link",
            "label": "Phone Link"
        },
        {
            "type": "text",
            "id": "mail_title",
            "label": "Mail Title"
        },
        {
            "type": "text",
            "id": "mail_text",
            "label": "Mail Text"
        },
        {
            "type": "url",
            "id": "mail_link",
            "label": "Mail Link"
        },
        {
            "type": "color",
            "id": "contact_icon_cl",
            "label": "Icon color"
        },
        {
            "type": "color",
            "id": "contact_title_cl",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "contact_text_cl",
            "label": "Text color"
        },
        {
            "type": "header",
            "content": "== Header language, currency, social"
        },
        {
            "type": "checkbox",
            "id": "language",
            "label": "Language"
        },
        {
            "type": "checkbox",
            "id": "currency",
            "label": "Currency"
        },
        {
            "type": "checkbox",
            "id": "social",
            "label": "Social"
        },
        {
            "type": "header",
            "content": "== Header Vertical menu"
        },
        {
            "type": "link_list",
            "id": "v_menu",
            "label": "Menu"
        },
        {
            "type": "checkbox",
            "id": "v_open",
            "label": "Menu is open when the page loaded"
        },
        {
            "type": "checkbox",
            "id": "v_always_open",
            "label": "Menu is always open (at homepage)"
        },
        {
            "type": "text",
            "id": "v_width",
            "label": "Width",
            "info": "Example: 270px, auto",
            "default": "270px"
        },
        {
            "type": "text",
            "id": "v_height",
            "label": "Height",
            "info": "Example: 480px, auto"
        },
        {
            "type": "text",
            "id": "v_title",
            "label": "Title",
            "default": "Collections"
        },
        {
            "type": "checkbox",
            "id": "v_title_width",
            "label": "Title width auto"
        },
        {
            "type": "color",
            "id": "v_title_cl",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "v_title_bg",
            "label": "Title background"
        },
        {
            "type": "color",
            "id": "v_title_cl_h",
            "label": "Title color - hover"
        },
        {
            "type": "color",
            "id": "v_title_bg_h",
            "label": "Title background - hover"
        },
        {
            "type": "number",
            "id": "v_limit",
            "label": "Menu items limit",
            "info": "Set 0 to show all items",
            "default": 8
        },
        {
            "type": "text",
            "id": "v_more",
            "label": "Show more button",
            "default": "All Collections"
        },
        {
            "type": "text",
            "id": "v_less",
            "label": "Show less button",
            "default": "Close"
        },
        {
            "type": "header",
            "content": "== Header"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "line_cl",
            "label": "Line color"
        },
        {
            "type": "header",
            "content": "== Header Main"
        },
        {
            "type": "checkbox",
            "id": "m_inner_relative",
            "label": "Inner relative",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "m_bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "m_bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "m_bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "m_bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "color_background",
            "id": "m_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "m_bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "m_main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "m_main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "m_dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "m_dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "m_dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "m_light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "m_light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "m_line_cl",
            "label": "Line color"
        },
        {
            "type": "header",
            "content": "== Header Bottom"
        },
        {
            "type": "checkbox",
            "id": "b_inner_relative",
            "label": "Inner relative",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "b_for_inner",
            "label": "Settings apply for inner"
        },
        {
            "type": "image_picker",
            "id": "b_bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "b_bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "b_bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "b_bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "color_background",
            "id": "b_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "b_bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "b_main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "b_main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "b_dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "b_dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "b_dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "b_light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "b_light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "b_line_cl",
            "label": "Line color"
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link",
                    "default": "/"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "label": "Open link in",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "title_cl",
                    "label": "Color"
                },
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon (class)",
                    "info": "Use class from icon library has embed or use image, svg, html svg. Theme's icon library has embed: [Main Icon](https://alizthemes.com/icons/aliztech/demo.html), [LinearIcons](https://alizthemes.com/icons/linearicons/demo.html)"
                },
                {
                    "type": "image_picker",
                    "id": "icon_img",
                    "label": "Icon (image, svg)"
                },
                {
                    "type": "text",
                    "id": "icon_svg",
                    "label": "Icon (html svg)"
                },
                {
                    "type": "text",
                    "id": "lb",
                    "label": "Label"
                },
                {
                    "type": "color",
                    "id": "lb_cl",
                    "label": "Label color"
                },
                {
                    "type": "color",
                    "id": "lb_bg",
                    "label": "Label background"
                },
                {
                    "type": "checkbox",
                    "id": "float_end",
                    "label": "Float to end"
                },
                {
                    "type": "header",
                    "content": "== Submenu"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Submenu"
                },
                {
                    "type": "text",
                    "id": "width",
                    "label": "Width",
                    "info": "Example: 1410px, 70%, 70vw"
                },
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Background image"
                },
                {
                    "type": "text",
                    "id": "bg_position",
                    "label": "Background position",
                    "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
                    "default": "center center"
                },
                {
                    "type": "text",
                    "id": "bg_size",
                    "label": "Background size",
                    "info": "Example: cover, contain, 100% 100%, 100px 100px",
                    "default": "cover"
                },
                {
                    "type": "text",
                    "id": "bg_repeat",
                    "label": "Background repeat",
                    "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
                    "default": "no-repeat"
                },
                {
                    "type": "color_background",
                    "id": "bg_gradient",
                    "label": "Background gradient"
                },
                {
                    "type": "color",
                    "id": "bg_cl",
                    "label": "Background color"
                },
                {
                    "type": "color",
                    "id": "main_cl",
                    "label": "Main color"
                },
                {
                    "type": "color",
                    "id": "main_cl_t",
                    "label": "Main color - text inside"
                },
                {
                    "type": "color",
                    "id": "dark_cl",
                    "label": "Dark color"
                },
                {
                    "type": "color",
                    "id": "dark_cl_2",
                    "label": "Dark color 2"
                },
                {
                    "type": "color",
                    "id": "dark_cl_3",
                    "label": "Dark color 3"
                },
                {
                    "type": "color",
                    "id": "light_cl",
                    "label": "Light color"
                },
                {
                    "type": "color",
                    "id": "light_cl_2",
                    "label": "Light color 2"
                },
                {
                    "type": "color",
                    "id": "line_cl",
                    "label": "Line color"
                }
            ]
        },
        {
            "type": "mega",
            "name": "Item - Megamenu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link",
                    "default": "/"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "label": "Open link in",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "title_cl",
                    "label": "Color"
                },
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon (class)",
                    "info": "Use class from icon library has embed or use image, svg, html svg. Theme's icon library has embed: [Main Icon](https://alizthemes.com/icons/aliztech/demo.html), [LinearIcons](https://alizthemes.com/icons/linearicons/demo.html)",
                    "default": "main-icon-star"
                },
                {
                    "type": "image_picker",
                    "id": "icon_img",
                    "label": "Icon (image, svg)"
                },
                {
                    "type": "text",
                    "id": "icon_svg",
                    "label": "Icon (html svg)"
                },
                {
                    "type": "text",
                    "id": "lb",
                    "label": "Label"
                },
                {
                    "type": "color",
                    "id": "lb_cl",
                    "label": "Label color"
                },
                {
                    "type": "color",
                    "id": "lb_bg",
                    "label": "Label background"
                },
                {
                    "type": "checkbox",
                    "id": "float_end",
                    "label": "Float to end"
                },
                {
                    "type": "checkbox",
                    "id": "relative",
                    "label": "Position relative"
                },
                {
                    "type": "header",
                    "content": "== Megamenu"
                },
                {
                    "type": "text",
                    "id": "width",
                    "label": "Width",
                    "info": "Example: 1410px, 70%, 70vw"
                },
                {
                    "type": "select",
                    "id": "content_width",
                    "label": "Content width",
                    "options": [
                        {
                            "value": "container",
                            "label": "Container"
                        },
                        {
                            "value": "full-width",
                            "label": "Full Width"
                        },
                        {
                            "value": "full-width-pd",
                            "label": "Full Width no Padding"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "container",
                    "label": "Container width",
                    "info": "Example: 1410px, 70%, 70vw"
                },
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Background image"
                },
                {
                    "type": "text",
                    "id": "bg_position",
                    "label": "Background position",
                    "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
                    "default": "center center"
                },
                {
                    "type": "text",
                    "id": "bg_size",
                    "label": "Background size",
                    "info": "Example: cover, contain, 100% 100%, 100px 100px",
                    "default": "cover"
                },
                {
                    "type": "text",
                    "id": "bg_repeat",
                    "label": "Background repeat",
                    "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
                    "default": "no-repeat"
                },
                {
                    "type": "color_background",
                    "id": "bg_gradient",
                    "label": "Background gradient"
                },
                {
                    "type": "color",
                    "id": "bg_cl",
                    "label": "Background color"
                },
                {
                    "type": "color",
                    "id": "main_cl",
                    "label": "Main color"
                },
                {
                    "type": "color",
                    "id": "main_cl_t",
                    "label": "Main color - text inside"
                },
                {
                    "type": "color",
                    "id": "dark_cl",
                    "label": "Dark color"
                },
                {
                    "type": "color",
                    "id": "dark_cl_2",
                    "label": "Dark color 2"
                },
                {
                    "type": "color",
                    "id": "dark_cl_3",
                    "label": "Dark color 3"
                },
                {
                    "type": "color",
                    "id": "light_cl",
                    "label": "Light color"
                },
                {
                    "type": "color",
                    "id": "light_cl_2",
                    "label": "Light color 2"
                },
                {
                    "type": "color",
                    "id": "line_cl",
                    "label": "Line color"
                }
            ]
        },
        {
            "type": "link",
            "name": "↳ Linklist (Child)",
            "settings": [
                {
                    "type": "text",
                    "id": "col",
                    "label": "Width",
                    "info": "Example: 20%, 270px",
                    "default": "20%"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ],
                    "label": "Open link in"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                }
            ]
        },
        {
            "type": "product",
            "name": "↳ Product (Child)",
            "settings": [
                {
                    "type": "text",
                    "id": "col",
                    "label": "Width",
                    "info": "Example: 20%, 270px",
                    "default": "20%"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "select",
                    "id": "product_style",
                    "label": "Product style",
                    "options": [
                        {
                            "value": "1",
                            "label": "Style 01"
                        },
                        {
                            "value": "2",
                            "label": "Style 02"
                        },
                        {
                            "value": "3",
                            "label": "Style 03"
                        },
                        {
                            "value": "4",
                            "label": "Style 04"
                        },
                        {
                            "value": "5",
                            "label": "Style 05"
                        }
                    ]
                },
                {
                    "type": "number",
                    "id": "ratio",
                    "label": "Image ratio",
                    "info": "Ratio = width / height. Example: 1, 1.2, 0.8"
                }
            ]
        },
        {
            "type": "cat",
            "name": "↳ Collection (Child)",
            "settings": [
                {
                    "type": "text",
                    "id": "col",
                    "label": "Width",
                    "info": "Example: 20%, 270px",
                    "default": "20%"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "select",
                    "id": "collection_style",
                    "label": "Collection style",
                    "options": [
                        {
                            "value": "1",
                            "label": "Style 01"
                        },
                        {
                            "value": "2",
                            "label": "Style 02"
                        },
                        {
                            "value": "3",
                            "label": "Style 03"
                        }
                    ]
                },
                {
                    "type": "number",
                    "id": "ratio",
                    "label": "Image ratio",
                    "info": "Ratio = width / height. Example: 1, 1.2, 0.8"
                }
            ]
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "item",
                "settings": {
                    "title": "Home",
                    "url": "/"
                }
            },
            {
                "type": "mega",
                "settings": {
                    "title": "Shop",
                    "url": "/collections"
                }
            },
            {
                "type": "item",
                "settings": {
                    "title": "Blog",
                    "url": "/blogs/news"
                }
            }
        ]
    }
}
{% endschema %}
