{% liquid
    assign sid = section.id
    assign content_width = section.settings.content_width
    assign container = section.settings.container
    assign space = section.settings.space
    assign text_align = section.settings.text_align
    assign hover_effect = section.settings.hover_effect
    assign item_border = section.settings.item_border
    assign use-slider = section.settings.use-slider
%}

<section id="{{ sid }}" class="alz-iconbox style-01 space-{{ space }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            <div class="slick-carousel {{ item_border }} {% unless use-slider %}grid-box-wrap{% endunless %}">
                <div class="items-list {% if use-slider %}grid-slider js_carousel{% else %}grid-box{% endif %}" {% if use-slider %}{%- render 'grid-slider' -%}{% endif %}>
                    {%- if section.blocks.size > 0 -%}
                        {%- for block in section.blocks -%}
                            {% liquid
                                assign title = block.settings.title
                                assign desc = block.settings.desc
                            %}
                            <div class="item {{ section.settings.icon_position }} {{ text_align }}">
                                <div class="inner {{ section.settings.v_align }} {{ section.settings.h_align }} effect {{ hover_effect }}">
                                    {%- render 'icon', icon: block.settings.icon, icon_img: block.settings.icon_img, icon_svg: block.settings.icon_svg -%}
                                    <div class="content">
                                        {%- if title != blank -%}<h3 class="title">{{ title }}</h3>{%- endif -%}
                                        {%- if desc != blank -%}<p class="desc">{{ desc }}</p>{%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

{%- render 'section_style' -%}
{%- render 'section_style_box' -%}
{%- liquid
    assign icon_size = section.settings.icon_size | default: '32px'
    assign icon_cl = section.settings.icon_cl
    assign icon_space = section.settings.icon_space | default: '10px'
    assign bg_gradient = section.settings.item_bg_gradient
    assign bg_cl = section.settings.item_bg_cl
    assign pd = section.settings.item_pd
    assign pd_1200 = section.settings.item_pd_1200
    assign pd_992 = section.settings.item_pd_992
    assign pd_768 = section.settings.item_pd_768
-%}
{%- capture style -%}
    #{{ sid }} .inner{
    {% if icon_size != blank %}--icon-size:{{ icon_size }};{% endif %}
    {% if icon_cl != blank and icon_cl.alpha != 0.0 %}--icon-cl:{{ icon_cl }};{% endif %}
    {% if icon_space != blank %}--icon-space:{{ icon_space }};{% endif %}
    {% if bg_gradient != blank %}background-image:{{ bg_gradient }};{% endif %}
    {% if bg_cl != blank and bg_cl.alpha != 0.0 %}background-color:{{ bg_cl }};{% endif %}
    {% if pd != blank %}padding:{{ pd }};{% endif %}
    }
    {%- if pd_1200 != blank -%}
        @media (max-width: 1199px){
        #b_{{ sid }} .inner{
        {% if pd_1200 != blank %}padding:{{ pd_1200 }};{% endif %}
        }
        }
    {%- endif -%}
    {%- if pd_992 != blank -%}
        @media (max-width: 991px){
        #b_{{ sid }} .inner{
        {% if pd_992 != blank %}padding:{{ pd_992 }};{% endif %}
        }
        }
    {%- endif -%}
    {%- if pd_768 != blank -%}
        @media (max-width: 767px){
        #b_{{ sid }} .inner{
        {% if pd_768 != blank %}padding:{{ pd_768 }};{% endif %}
        }
        }
    {%- endif -%}
{%- endcapture -%}
{%- style -%}{{ style | strip_newlines | remove: "  " }}{%- endstyle -%}

{%- schema -%}
{
    "name": "Icon Box 01",
    "class": "alz-section section-iconbox animate--slide-in",
    "settings": [
        {
            "type": "number",
            "id": "z_index",
            "label": "Z-Index"
        },
        {
            "type": "select",
            "id": "hidden_mobile",
            "label": "Hide Section on mobile",
            "options": [
                {
                    "value": "",
                    "label": "No"
                },
                {
                    "value": "hide_1200",
                    "label": "(resolution < 1200px)"
                },
                {
                    "value": "hide_992",
                    "label": "(resolution < 992px)"
                },
                {
                    "value": "hide_768",
                    "label": "(resolution < 768px)"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                },
                {
                    "value": "full-width-pd",
                    "label": "Full Width no Padding"
                }
            ]
        },
        {
            "type": "text",
            "id": "container",
            "label": "Container width",
            "info": "Example: 1410px, 70%, 70vw"
        },
        {
            "type": "text",
            "id": "space",
            "label": "Space",
            "info": "Example:10,20,30,40,50,60,70,80,90,100"
        },
        {
            "type": "header",
            "content": "== With vertical menu"
        },
        {
            "type": "checkbox",
            "id": "vertical_offset",
            "label": "Offset for vertical menu always open"
        },
        {
            "type": "text",
            "id": "vertical_offset_gap",
            "label": "Gap with vertical menu",
            "info": "Example: 10px"
        },
        {
            "type": "header",
            "content": "== Item settings"
        },
        {
            "type": "select",
            "id": "hover_effect",
            "label": "Hover Effect",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "image-zoom",
                    "label": "Zoom"
                },
                {
                    "value": "bounce-in",
                    "label": "Bounce in"
                },
                {
                    "value": "blur-filter",
                    "label": "Blur filter"
                },
                {
                    "value": "gray-filter",
                    "label": "Gray filter"
                }
            ]
        },
        {
            "type": "select",
            "id": "item_border",
            "label": "Item border",
            "info": "If Full, Columns gap & Rows gap is 0",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "border-item",
                    "label": "Item"
                },
                {
                    "value": "border-between",
                    "label": "Between"
                },
                {
                    "value": "border-full",
                    "label": "Full"
                }
            ]
        },
        {
            "type": "text",
            "id": "icon_size",
            "label": "Icon size",
            "default": "32px"
        },
        {
            "type": "color",
            "id": "icon_cl",
            "label": "Icon color"
        },
        {
            "type": "text",
            "id": "icon_space",
            "label": "Icon space",
            "default": "10px"
        },
        {
            "type": "select",
            "id": "icon_position",
            "label": "Icon position",
            "options": [
                {
                    "value": "icon-start",
                    "label": "Start"
                },
                {
                    "value": "icon-end",
                    "label": "End"
                },
                {
                    "value": "icon-top",
                    "label": "Top"
                },
                {
                    "value": "icon-bottom",
                    "label": "Bottom"
                }
            ]
        },
        {
            "type": "select",
            "id": "v_align",
            "label": "Vertical align",
            "options": [
                {
                    "value": "align-start",
                    "label": "Top"
                },
                {
                    "value": "align-center",
                    "label": "Middle"
                },
                {
                    "value": "align-end",
                    "label": "Bottom"
                }
            ],
            "default": "align-center"
        },
        {
            "type": "select",
            "id": "h_align",
            "label": "Horizontal align",
            "options": [
                {
                    "value": "justify-start",
                    "label": "Start"
                },
                {
                    "value": "justify-center",
                    "label": "Center"
                },
                {
                    "value": "justify-end",
                    "label": "End"
                }
            ],
            "default": "justify-center"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
                {
                    "value": "",
                    "label": "Default"
                },
                {
                    "value": "text-start",
                    "label": "Start"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                },
                {
                    "value": "text-end",
                    "label": "End"
                }
            ]
        },
        {
            "type": "color_background",
            "id": "item_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "item_bg_cl",
            "label": "Background color"
        },
        {
            "type": "text",
            "id": "item_pd",
            "label": "Content Padding",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "text",
            "id": "item_pd_1200",
            "label": "Content Padding (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "item_pd_992",
            "label": "Content Padding (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "item_pd_768",
            "label": "Content Padding (resolution < 768px)"
        },
        {
            "type": "header",
            "content": "== Loop settings"
        },
        {
            "type": "text",
            "id": "cols_number",
            "label": "Columns (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "3,3,3,3,1,1"
        },
        {
            "type": "text",
            "id": "cols_gap",
            "label": "Columns gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "text",
            "id": "rows_gap",
            "label": "Rows gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "checkbox",
            "id": "use-slider",
            "label": "Use slider?"
        },
        {
            "type": "range",
            "id": "slides-To-Scroll",
            "label": "Slide to scroll",
            "min": 1,
            "max": 8,
            "step": 1,
            "unit": "pds",
            "default": 1
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 1
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "dots",
            "label": "Dots"
        },
        {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "default": "300",
            "info": "Speed in milliseconds"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay"
        },
        {
            "type": "text",
            "id": "autoplay-Speed",
            "label": "Autoplay Speed",
            "default": "3000",
            "info": "Autoplay Speed in milliseconds"
        },
        {
            "type": "checkbox",
            "id": "fade",
            "label": "Fade",
            "info": "Only use for 1 column"
        },
        {
            "type": "checkbox",
            "id": "center-Mode",
            "label": "Center Mode"
        },
        {
            "type": "checkbox",
            "id": "adaptive-Height",
            "label": "Adaptive Height"
        },
        {
            "type": "checkbox",
            "id": "infinite",
            "label": "Infinite"
        },
        {
            "type": "checkbox",
            "id": "vertical",
            "label": "Vertical"
        },
        {
            "type": "header",
            "content": "== Section settings"
        },
        {
            "type": "checkbox",
            "id": "for_inner",
            "label": "Settings apply for inner"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "checkbox",
            "id": "bg_fixed",
            "label": "Background fixed",
            "info": "For desktop (resolution > 1200px)"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "line_cl",
            "label": "Line color"
        },
        {
            "type": "text",
            "id": "fz",
            "label": "Font size",
            "info": "Example: 16px"
        },
        {
            "type": "text",
            "id": "lh",
            "label": "Line Height",
            "info": "Example: 24px, 1.4em"
        },
        {
            "type": "text",
            "id": "ls",
            "label": "Letter spacing",
            "info": "Example: 1px, 0.1em"
        },
        {
            "type": "text",
            "id": "fw",
            "label": "Font weight",
            "info": "Example: 100, 200, 300, 400, 500, 600, 700, 800"
        },
        {
            "type": "text",
            "id": "tt",
            "label": "Text transform",
            "info": "Example: none, uppercase, lowercase, capitalize"
        },
        {
            "type": "color",
            "id": "bd_color",
            "label": "Border color"
        },
        {
            "type": "text",
            "id": "bd_style",
            "label": "Border style",
            "info": "Example: solid, dotted, dashed, double, groove, ridge, outset"
        },
        {
            "type": "text",
            "id": "bd_width",
            "label": "Border width",
            "info": "Example: 1px, 1px 0, 1px 0 0 0"
        },
        {
            "type": "text",
            "id": "bd_radius",
            "label": "Border radius",
            "info": "Example: 10px, 20px 10px, 20px 20px 10px 10px, 10%"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "bd_width_1200",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_1200",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_1200",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "bd_width_992",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_992",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_992",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 768px)"
        },
        {
            "type": "text",
            "id": "bd_width_768",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_768",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_768",
            "label": "Padding"
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon (class)",
                    "info": "Use class from icon library has embed or use image, svg, html svg. Theme's icon library has embed: [Main Icon](https://alizthemes.com/icons/aliztech/demo.html), [LinearIcons](https://alizthemes.com/icons/linearicons/demo.html)",
                    "default": "main-icon-star"
                },
                {
                    "type": "image_picker",
                    "id": "icon_img",
                    "label": "Icon (image, svg)"
                },
                {
                    "type": "text",
                    "id": "icon_svg",
                    "label": "Icon (html svg)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "FREE SHIPPING & RETURN"
                },
                {
                    "type": "textarea",
                    "id": "desc",
                    "label": "Description",
                    "default": "Free shipping on all orders over $100"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Icon Box 01",
            "blocks": [
                {
                    "type": "item",
                    "settings": {
                        "icon": "lnr-ship2",
                        "title": "FREE SHIPPING & RETURN",
                        "desc": "Free shipping on all orders over $100"
                    }
                },
                {
                    "type": "item",
                    "settings": {
                        "icon": "lnr-shield-check",
                        "title": "MONEY BACK GUARANTEE",
                        "desc": "100% money back guarantee"
                    }
                },
                {
                    "type": "item",
                    "settings": {
                        "icon": "lnr-headset",
                        "title": "ONLINE SUPPORT 24/7",
                        "desc": "Online support 24/7"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
