{% liquid
    assign sid = section.id
    assign content_width = section.settings.content_width
    assign container = section.settings.container
    assign space = section.settings.space
    assign style_scroll = settings.style_scroll | plus: 0
    assign grid_list = section.settings.grid_list
    assign sidebar = section.settings.sidebar
    assign pagination = section.settings.pagination
    assign per_page = section.settings.per_page | default: 20
    assign product_style = section.settings.product_style
    assign ratio = section.settings.ratio
    if ratio > 0
        assign aspect_ratio = ratio
    endif
    assign title_line = section.settings.title_line
    assign title_equal = section.settings.title_equal
    assign excerpt_line = section.settings.excerpt_line
    assign item_border = section.settings.item_border
    assign stretch_thumb = section.settings.stretch_thumb
    assign show_banner = section.settings.show_banner
    assign show_info = section.settings.show_info
    assign info_absolute = section.settings.info_absolute
    assign pageUrl = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&'
    if pageUrl contains "?"
        assign query_string = pageUrl | split: '?' | last
        assign query_parts = query_string | split: '&'
        for part in query_parts
            assign key_and_value = part | split: '='
            case key_and_value[0]
                when 'grid_list'
                    assign grid_list = key_and_value[1]
                when 'sidebar'
                    assign sidebar = key_and_value[1]
                when 'pagination'
                    assign pagination = key_and_value[1]
                when 'per_page'
                    assign per_page = key_and_value[1]
                when 'product_style'
                    assign product_style = key_and_value[1]
                when 'item_border'
                    assign item_border = key_and_value[1]
                when 'cols_number'
                    assign cols_number = key_and_value[1]
                when 'show_banner'
                    assign show_banner = key_and_value[1]
                when 'show_info'
                    assign show_info = key_and_value[1]
                when 'info_absolute'
                    assign info_absolute = key_and_value[1]
            endcase
        endfor
    endif
%}

{%- capture s_style -%}
    {% if title_line != blank %}--prd-title-line:{{ title_line }};{% endif %}
    {% if title_equal == '1' %}
        --prd-title-height:calc(var(--prd-title-line) * var(--prd-title-lh));
    {% elsif title_equal == '0' %}
        --prd-title-height:auto;
    {% endif %}
    {% if excerpt_line != blank %}--prd-excerpt-line:{{ excerpt_line }};{% endif %}
{%- endcapture -%}

<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

<section id="{{ sid }}" class="collection-page pagination-{{ pagination }} main-content-grid space-{{ space }}">
    <div class="{{ content_width }} sidebar-{{ sidebar }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner js_categories_content">
            {%- if sidebar != 'full' -%}
                <aside class="sidebar js-sidebar-mobile-content {% if sidebar == 'start' or sidebar == 'end' %}js-stickySidebar{% endif %}">
                    {% render 'facets', collection: collection, sidebar: sidebar %}
                </aside>
            {%- endif -%}
            <div id="ProductGridContainer" class="site-main js_products_arrivals facets-vertical {{ grid_list }}">
                {% assign image = section.settings.banner_img %}
                {% assign banner = collection.metafields.custom.banner %}
                {%- capture banner_style -%}
                    --banner-height:{{ section.settings.banner_height }};
                    --banner-height-1200:{{ section.settings.banner_height_1200 }};
                    --banner-height-992:{{ section.settings.banner_height_992 }};
                    --banner-height-768:{{ section.settings.banner_height_768 }};
                {%- endcapture -%}
                {% if show_banner %}
                    <div class="collection-banner {% if info_absolute %}info-absolute{% endif %}" style="{{ banner_style | strip_newlines | remove: "  " }}">
                        {% if banner != blank %}
                            <div class="image skeleton-item">{{ banner | media_tag: image_size: "", autoplay: true, loop: true, controls: true, preload: "none" }}</div>
                        {% elsif image != blank %}
                            <div class="image skeleton-item"><img class="secondary_image lazyload" src="{{ image | image_url }}" data-src="{{ image | image_url }}" alt="{{ image.alt | escape }}"></div>
                        {% endif %}
                        {%- if show_info -%}
                            <div class="info">
                                {%- if collection.title != blank -%}
                                    <h2 class="title">{{- collection.title | escape -}}</h2>
                                {%- endif -%}
                                {%- if collection.description != blank -%}
                                    <p class="desc">{{ collection.description }}</p>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
                {%- if collection.products.size > 0 -%}
                    <facet-filters-form class="facets no-js-hidden">
                        <form class="facets-vertical-form" id="FacetSortForm">
                            <a href="javascript:void(0)" class="js-mobile-sidebar mobile-sidebar-btn button">
                                <span class="icon main-icon-filter"></span>
                                {{ 'products.facets.filter_button' | t }}
                            </a>
                            <a href="javascript:void(0)" class="sidebar-dropdown-btn mobile-sidebar-btn button">
                                <span class="icon main-icon-filter"></span>
                                {{ 'products.facets.filter_button' | t }}
                            </a>
                            <div class="product-count" role="status">
                                <p id="ProductCountDesktop" class="product-count__text">
                                    <span class="text">
                                        {%- if collection.results_count -%}
                                            {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
                                        {%- elsif collection.products_count == collection.all_products_count -%}
                                            {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                                        {%- else -%}
                                            {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
                                        {%- endif -%}
                                    </span>
                                    <span class="circle-loading"></span>
                                </p>
                            </div>
                            <div class="control-button">
                                <a href="javascript:void(0)" data-col="2" class="grid-2-button js_cat_view"><span class="icon main-icon-btn-grid-2"></span></a>
                                <a href="javascript:void(0)" data-col="3" class="grid-3-button js_cat_view"><span class="icon main-icon-btn-grid-3"></span></a>
                                <a href="javascript:void(0)" data-col="4" class="grid-4-button js_cat_view"><span class="icon main-icon-btn-grid-4"></span></a>
                                <a href="javascript:void(0)" data-col="5" class="grid-5-button js_cat_view"><span class="icon main-icon-btn-grid-5"></span></a>
                                <a href="javascript:void(0)" data-col="6" class="grid-6-button js_cat_view"><span class="icon main-icon-btn-grid-6"></span></a>
                                {% if sidebar != 'start' and sidebar != 'end' %}
                                    <a href="javascript:void(0)" data-col="7" class="grid-7-button js_cat_view"><span class="icon main-icon-btn-grid-7"></span></a>
                                    <a href="javascript:void(0)" data-col="8" class="grid-8-button js_cat_view"><span class="icon main-icon-btn-grid-8"></span></a>
                                {% endif %}
                                <a href="javascript:void(0)" data-col="1" class="list-button js_cat_view"><span class="icon main-icon-btn-list"></span></a>
                            </div>
                            <div class="facet-filters sorting">
                                <div class="facet-filters__field">
                                    <p class="facet-filters__label">
                                        <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                                    </p>
                                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                                    <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message">
                                        {%- for option in collection.sort_options -%}
                                            <option value="{{ option.value | escape }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                                                {{ option.name | escape }}
                                            </option>
                                        {%- endfor -%}
                                    </select>
                                </div>
                                <noscript>
                                    <button type="submit" class="facets__button-no-js button button--secondary">
                                        {{ 'products.facets.sort_button' | t }}
                                    </button>
                                </noscript>
                            </div>
                        </form>
                        {%- liquid
                            assign sort_by = collection.sort_by | default: collection.default_sort_by
                            if collection.url
                                assign results_url = collection.url
                            else
                                assign terms = collection.terms | escape
                                assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
                            endif
                        -%}
                        {% if collection.filters.size > 0 %}
                            <div class="active-facets">
                                {%- for filter in collection.filters -%}
                                    {%- for value in filter.active_values -%}
                                        <facet-remove>
                                            <a href="{{ value.url_to_remove }}" class="button"><span>{{ value.label | escape }}</span></a>
                                        </facet-remove>
                                    {%- endfor -%}
                                    {% if filter.type == "price_range" %}
                                        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                                            <facet-remove>
                                                <a href="{{ filter.url_to_remove }}" class="button">
                                                    <span>{%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}&nbsp;-&nbsp;{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}</span>
                                                </a>
                                            </facet-remove>
                                        {%- endif -%}
                                    {% endif %}
                                {%- endfor -%}
                                <facet-remove>
                                    <a href="{{ results_url }}" class="button"><span>{{ 'products.facets.clear_all' | t }}</span></a>
                                </facet-remove>
                            </div>
                        {% endif %}
                    </facet-filters-form>
                    {%- paginate collection.products by per_page -%}
                        <div id="collection-product" class="collection {{ item_border }} grid-box-wrap {% if stretch_thumb %}stretch-thumb{% endif %}" style="{{ s_style | strip_newlines | remove: "  " }}">
                            <div class="loading-overlay gradient">
                                <div class="circle-loading"><span></span></div>
                            </div>
                            <div id="product-grid" data-id="{{ sid }}" class="product-list grid-box product-grid">
                                {%- for product in collection.products -%}
                                    {% render 'product-style', product_style: product_style, product: product, aspect_ratio: aspect_ratio, list_content: true %}
                                {%- endfor -%}
                            </div>
                        </div>
                        {%- if paginate.pages > 1 -%}
                            {% render 'pagination', paginate: paginate, anchor: '' %}
                        {%- endif -%}
                    {%- endpaginate -%}
                {%- else -%}
                    <h5 class="not-found">{{ 'products.product.not_create' | t }}</h5>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>

{%- render 'section_style' -%}
{%- render 'section_style_box', cols_number: cols_number, cols_gap: cols_gap, rows_gap: rows_gap -%}

{% schema %}
{
    "name": "Collection",
    "class": "alz-section section-main-collection",
    "settings": [
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                },
                {
                    "value": "full-width-pd",
                    "label": "Full Width no Padding"
                }
            ]
        },
        {
            "type": "text",
            "id": "container",
            "label": "Container width",
            "info": "Example: 1410px, 70%, 70vw"
        },
        {
            "type": "text",
            "id": "space",
            "label": "Space",
            "info": "Example:10,20,30,40,50,60,70,80,90,100"
        },
        {
            "type": "select",
            "id": "grid_list",
            "label": "Layout",
            "info": "Default layout and column (resolution > 1200px)",
            "options": [
                {
                    "value": "grid-2-style",
                    "label": "Grid 2 Columns"
                },
                {
                    "value": "grid-3-style",
                    "label": "Grid 3 Columns"
                },
                {
                    "value": "grid-4-style",
                    "label": "Grid 4 Columns"
                },
                {
                    "value": "grid-5-style",
                    "label": "Grid 5 Columns"
                },
                {
                    "value": "grid-6-style",
                    "label": "Grid 6 Columns"
                },
                {
                    "value": "grid-7-style",
                    "label": "Grid 7 Columns"
                },
                {
                    "value": "grid-8-style",
                    "label": "Grid 8 Columns"
                },
                {
                    "value": "list-style",
                    "label": "List"
                }
            ],
            "default": "grid-4-style"
        },
        {
            "type": "select",
            "id": "sidebar",
            "label": "Filter Sidebar",
            "info": "Canvas is the default mobile layout.",
            "options": [
                {
                    "value": "full",
                    "label": "No Filter"
                },
                {
                    "value": "start",
                    "label": "Start"
                },
                {
                    "value": "end",
                    "label": "End"
                },
                {
                    "value": "dropdown",
                    "label": "Dropdown"
                },
                {
                    "value": "canvas",
                    "label": "Canvas"
                }
            ],
            "default": "start"
        },
        {
            "type": "select",
            "id": "pagination",
            "label": "Pagination",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "load-more",
                    "label": "Load more"
                },
                {
                    "value": "infinite",
                    "label": "Infinite Scroll"
                }
            ]
        },
        {
            "type": "header",
            "content": "== Item settings"
        },
        {
            "type": "number",
            "id": "per_page",
            "label": "Products per page",
            "default": 20
        },
        {
            "type": "select",
            "id": "product_style",
            "label": "Product style",
            "options": [
                {
                    "value": "1",
                    "label": "Style 01"
                },
                {
                    "value": "2",
                    "label": "Style 02"
                },
                {
                    "value": "3",
                    "label": "Style 03"
                },
                {
                    "value": "4",
                    "label": "Style 04"
                },
                {
                    "value": "5",
                    "label": "Style 05"
                }
            ]
        },
        {
            "type": "number",
            "id": "ratio",
            "label": "Image ratio",
            "info": "Ratio = width / height. Example: 1, 1.2, 0.8"
        },
        {
            "type": "text",
            "id": "title_line",
            "label": "Number of title line"
        },
        {
            "type": "select",
            "id": "title_equal",
            "label": "Title of products has equal height",
            "options": [
                {
                    "value": "",
                    "label": "Inherit"
                },
                {
                    "value": "1",
                    "label": "True"
                },
                {
                    "value": "0",
                    "label": "False"
                }
            ]
        },
        {
            "type": "text",
            "id": "excerpt_line",
            "label": "Number of excerpt line",
            "default": "3"
        },
        {
            "type": "select",
            "id": "item_border",
            "label": "Item border",
            "info": "If Full, Columns gap & Rows gap is 0",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "border-image",
                    "label": "Image"
                },
                {
                    "value": "border-item",
                    "label": "Item"
                },
                {
                    "value": "border-between",
                    "label": "Between"
                },
                {
                    "value": "border-full",
                    "label": "Full"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "stretch_thumb",
            "label": "Stretch Thumbnail",
            "info": "For item border: item, full"
        },
        {
            "type": "header",
            "content": "== Banner"
        },
        {
            "type": "checkbox",
            "id": "show_banner",
            "label": "Show Banner"
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner (for all collections)",
            "info": "To show Banner for each collection, go to Metafields: Banner file, Banner url"
        },
        {
            "type": "checkbox",
            "id": "show_info",
            "label": "Show Information"
        },
        {
            "type": "checkbox",
            "id": "info_absolute",
            "label": "Information position - absolute"
        },
        {
            "type": "text",
            "id": "banner_height",
            "label": "Banner Height"
        },
        {
            "type": "text",
            "id": "banner_height_1200",
            "label": "Banner Height (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "banner_height_992",
            "label": "Banner Height (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "banner_height_768",
            "label": "Banner Height (resolution < 768px)"
        },
        {
            "type": "header",
            "content": "== Loop settings"
        },
        {
            "type": "text",
            "id": "cols_number",
            "label": "Columns (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "5,5,4,3,3,2"
        },
        {
            "type": "text",
            "id": "cols_gap",
            "label": "Columns gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "text",
            "id": "rows_gap",
            "label": "Rows gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "header",
            "content": "== Section settings"
        },
        {
            "type": "checkbox",
            "id": "for_inner",
            "label": "Settings apply for inner"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "checkbox",
            "id": "bg_fixed",
            "label": "Background fixed",
            "info": "For desktop (resolution > 1200px)"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "line_cl",
            "label": "Line color"
        },
        {
            "type": "text",
            "id": "fz",
            "label": "Font size",
            "info": "Example: 16px"
        },
        {
            "type": "text",
            "id": "lh",
            "label": "Line Height",
            "info": "Example: 24px, 1.4em"
        },
        {
            "type": "text",
            "id": "ls",
            "label": "Letter spacing",
            "info": "Example: 1px, 0.1em"
        },
        {
            "type": "text",
            "id": "fw",
            "label": "Font weight",
            "info": "Example: 100, 200, 300, 400, 500, 600, 700, 800"
        },
        {
            "type": "text",
            "id": "tt",
            "label": "Text transform",
            "info": "Example: none, uppercase, lowercase, capitalize"
        },
        {
            "type": "color",
            "id": "bd_color",
            "label": "Border color"
        },
        {
            "type": "text",
            "id": "bd_style",
            "label": "Border style",
            "info": "Example: solid, dotted, dashed, double, groove, ridge, outset"
        },
        {
            "type": "text",
            "id": "bd_width",
            "label": "Border width",
            "info": "Example: 1px, 1px 0, 1px 0 0 0"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "bd_width_1200",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_1200",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_1200",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "bd_width_992",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_992",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_992",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 768px)"
        },
        {
            "type": "text",
            "id": "bd_width_768",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_768",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_768",
            "label": "Padding"
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Sidebar: Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Collections"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Add menu"
                },
                {
                    "type": "checkbox",
                    "id": "count",
                    "label": "Count",
                    "default": true
                }
            ]
        },
        {
            "type": "product",
            "name": "Sidebar: Product list",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Featured products"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "product_list",
                    "id": "product_list",
                    "label": "Product list"
                },
                {
                    "type": "number",
                    "id": "limit",
                    "label": "Limit products",
                    "default": 3
                },
                {
                    "type": "select",
                    "id": "product_style",
                    "label": "Product style",
                    "options": [
                        {
                            "value": "1",
                            "label": "Style 01"
                        },
                        {
                            "value": "2",
                            "label": "Style 02"
                        },
                        {
                            "value": "3",
                            "label": "Style 03"
                        },
                        {
                            "value": "4",
                            "label": "Style 04"
                        },
                        {
                            "value": "5",
                            "label": "Style 05"
                        }
                    ],
                    "default": "2"
                },
                {
                    "type": "number",
                    "id": "ratio",
                    "label": "Image ratio",
                    "info": "Ratio = width / height. Example: 1, 1.2, 0.8"
                }
            ]
        },
        {
            "type": "image",
            "name": "Sidebar: Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ],
                    "label": "Open link in"
                }
            ]
        }
    ]
}
{% endschema %}
