{% liquid
    assign sid = section.id
    assign show = section.settings.show
%}
{%- if show == blank %}{% break %}{% endif -%}

<div id="{{ sid }}" class="mobile-menu-bottom">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'link' -%}
                {% liquid
                    assign text = block.settings.text
                    assign icon = block.settings.icon
                    assign icon_svg = block.settings.icon_svg
                    assign link = block.settings.link | default: '/'
                    assign open_link = block.settings.open_link
                %}
                <div class="link">
                    <a href="{{ link }}" target="{{ open_link }}">
                        <span class="icon {{ icon }}">{{ icon_svg }}</span>
                        <span class="text">{{ text }}</span>
                    </a>
                </div>
            {%- when 'account' -%}
                {% render 'header-customer' %}
            {%- when 'compare' -%}
                {% render 'header-compare' %}
            {%- when 'wishlist' -%}
                {% render 'header-wishlist' %}
            {%- when 'cart' -%}
                {% render 'header-cart' %}
        {%- endcase -%}
    {%- endfor -%}
</div>

{%- render 'section_style' -%}
{%- capture style -%}
    :root{--mobile-menu-bottom-height: 54px;}
    @media (max-width: {{ show }}px){
    .footer{padding-bottom:var(--mobile-menu-bottom-height);}
    .mobile-menu-bottom{transform:none;}
    }
{%- endcapture -%}
{%- style -%}{{ style | strip_newlines | remove: "  " }}{%- endstyle -%}

{%- schema -%}
{
    "name": "Mobile Menu Bottom",
    "class": "alz-section section-mobile-menu-bottom",
    "settings": [
        {
            "type": "select",
            "id": "show",
            "label": "Show Section",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "1199",
                    "label": "resolution < 1200px"
                },
                {
                    "value": "991",
                    "label": "resolution < 992px"
                },
                {
                    "value": "767",
                    "label": "resolution < 768px"
                }
            ],
            "default": "767"
        }
    ],
    "blocks": [
        {
            "type": "link",
            "name": "Link",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Home"
                },
                {
                    "type": "text",
                    "id": "icon",
                    "label": "Icon (class)",
                    "default": "main-icon-home"
                },
                {
                    "type": "text",
                    "id": "icon_svg",
                    "label": "Icon (svg)"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link",
                    "default": "/"
                },
                {
                    "type": "select",
                    "id": "open_link",
                    "label": "Open link in",
                    "options": [
                        {
                            "value": "_self",
                            "label": "Current window (_self)"
                        },
                        {
                            "value": "_blank",
                            "label": "New window (_blank)"
                        }
                    ]
                }
            ]
        },
        {
            "type": "account",
            "name": "Account",
            "limit": 1
        },
        {
            "type": "compare",
            "name": "Compare",
            "limit": 1
        },
        {
            "type": "wishlist",
            "name": "Wishlist",
            "limit": 1
        },
        {
            "type": "cart",
            "name": "Cart",
            "limit": 1
        }
    ],
    "default": {
        "blocks": [
            {
                "type": "link"
            },
            {
                "type": "account"
            },
            {
                "type": "compare"
            },
            {
                "type": "wishlist"
            },
            {
                "type": "cart"
            }
        ]
    }
}
{% endschema %}
