{%- liquid
    assign sid = section.id
    assign limit = section.settings.limit | default: 8
    assign target = section.settings.target
    assign col = 12 | divided_by: limit
    assign col_tb = '4'
    assign col_mb = ' pr_animated done' | prepend: '12'
    assign key = search.terms | default: request.page_type | strip
    assign page_type = section.settings[key]
    assign build_variant = "all"
-%}

{% if section.settings.use_promotion and page_type %}
    <div id="{{ sid }}" data-js-lazy-popup class="js_popup_prpr_wrap mfp-with-anim mfp-popup bigger popup-product" data-time='{{ section.settings.timeout | times: 1000 }}' data-stt='{ "pp_version": {{ section.settings.pp_version | default: 1 }},"day_next": {{ section.settings.day_next }} }'>
        {% if section.settings.title != blank %}
            <h3 class="mfp-popup-title">{{ section.settings.title }}</h3>
        {% endif %}
        <div class="mfp-popup-content">
            <div class="slick-carousel">
                {% if target == 'collection' %}
                    {% assign products = collections[section.settings.target_collection].products %}
                {% elsif target == 'product_list' %}
                    {% assign products = section.settings.target_product_list %}
                {% endif %}
                {% if products.size > 0 %}
                    <div data-js-slider-promotion-popup class="product-list grid-slider js_carousel section-content" {%- render 'grid-slider' -%}>
                        {% for product in products limit: limit %}
                            {% render 'product-style', product_style: product_style %}
                        {% endfor %}
                    </div>
                {% else %}
                    <h5 class="not-found">{{ 'products.product.not_select' | t }}</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{%- schema -%}
{
    "name": "Popup - Products",
    "class": "mfp-hide type_promotion_popup",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_promotion",
            "label": "Show promotion popup",
            "default": true
        },
        {
            "type": "paragraph",
            "content": "Enable an exit popup if user attempts to navigate away from current page as a means of influencing user action on store."
        },
        {
            "type": "paragraph",
            "content": "Only visible on desktop."
        },
        {
            "type": "header",
            "content": "== Title settings"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New Products Arrived"
        },
        {
            "type": "header",
            "content": "== Item settings"
        },
        {
            "type": "select",
            "id": "target",
            "label": "Target products",
            "options": [
                {
                    "value": "collection",
                    "label": "Collection"
                },
                {
                    "value": "products",
                    "label": "Product list"
                }
            ]
        },
        {
            "type": "collection",
            "id": "target_collection",
            "label": "Collection"
        },
        {
            "type": "product_list",
            "id": "target_product_list",
            "label": "Product list"
        },
        {
            "type": "number",
            "id": "limit",
            "label": "Limit products",
            "default": 8
        },
        {
            "type": "header",
            "content": "Select page to display:"
        },
        {
            "type": "checkbox",
            "id": "index",
            "label": "Home page",
            "default": true,
            "info": "Popup Product will display on home page"
        },
        {
            "type": "checkbox",
            "id": "product",
            "label": "Product single",
            "default": false,
            "info": "Popup Product will display on Product single"
        },
        {
            "type": "checkbox",
            "id": "collection",
            "label": "Collection page",
            "default": false,
            "info": "Popup Product will display on Collection page"
        },
        {
            "type": "checkbox",
            "id": "article",
            "label": "Article page",
            "default": false,
            "info": "Popup Product will display on Article page"
        },
        {
            "type": "checkbox",
            "id": "blog",
            "label": "Blog page",
            "default": false,
            "info": "Popup Product will display on Blog page"
        },
        {
            "type": "checkbox",
            "id": "cart",
            "label": "Cart page",
            "default": false,
            "info": "Popup Product will display on Cart page"
        },
        {
            "type": "checkbox",
            "id": "page",
            "label": "Other page",
            "default": false,
            "info": "Popup Product will display on Other page"
        },
        {
            "type": "range",
            "id": "timeout",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "sec",
            "label": "Delay time (second)",
            "default": 15
        },
        {
            "type": "range",
            "id": "day_next",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "day",
            "label": "Days next show (n)",
            "info": "if customer close the popup, next show will be after 'n' days",
            "default": 7
        }
    ]
}
{% endschema %}