<link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'products_grid_layout.css' | asset_url }}">
<section class="products_layout">
  <div class="container">
    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-1">
              <summary
                id="HeaderMenu-home"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-1"
              >
                <span class="menu_products">SHOP ALL</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-1"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="Girls"
                    href="https://demo-tranning.myshopify.com/collections/girls"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Girls
                  </a>
                </li>
                <li>
                  <a
                    id="Boys"
                    href="/policies/privacy-policy"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Boys
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-home-wishlist"
                    href="/pages/wishlist"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Wishlist
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-home-all-collections"
                    href="/collections"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    All collections
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-2">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-2"
              >
                <span class="menu_products">Fall/Winter</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-2"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="/pages/contact"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Fall
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="/pages/faqs"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Winter
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-3">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-3"
              >
                <span class="menu_products">Girls</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-3"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="/pages/contact"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Newborn Clothes
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="/pages/faqs"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Soft Baby Toys
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-about-us"
                    href="/pages/about-us"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Train Toy
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-our-stores"
                    href="/pages/our-stores"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Party Panda
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-4">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-4"
              >
                <span class="menu_products">Boys</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-4"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="/pages/contact"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Train Toy
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="/pages/faqs"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Car
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-5">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-5"
              >
                <span class="menu_products">Collections</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-5"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="https://demo-tranning.myshopify.com/collections/boys"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Boys
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="https://demo-tranning.myshopify.com/collections/girls"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Girls
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-6">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-6"
              >
                <span class="menu_products">Gifts</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-6"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="https://demo-tranning.myshopify.com/collections/boys"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Boys
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="https://demo-tranning.myshopify.com/collections/girls"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Girls
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-3">
              <summary
                id="HeaderMenu-page"
                class="header__menu-item products list-menu__item link focus-inset"
                role="button"
                aria-expanded="false"
                aria-controls="HeaderMenu-MenuList-3"
              >
                <span class="menu_products">Seasonal Sales</span>
                <svg class="icon icon-caret" viewBox="0 0 10 6">
                  <path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"></path>
                </svg>
              </summary>
              <ul
                id="HeaderMenu-MenuList-3"
                class="header__submenu list-menu list-menu--disclosure color-scheme-1 gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                <li>
                  <a
                    id="HeaderMenu-page-contact"
                    href="/pages/contact"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Spring
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-faqs"
                    href="/pages/faqs"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Autumn
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-about-us"
                    href="/pages/about-us"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Summer
                  </a>
                </li>
                <li>
                  <a
                    id="HeaderMenu-page-our-stores"
                    href="/pages/our-stores"
                    class="header__menu-item products list-menu__item link link--text focus-inset caption-large"
                  >
                    Winter
                  </a>
                </li>
              </ul>
            </details>
          </header-menu>
        </li>
      </ul>
    </nav>
    <div class="grid-container">
      <div class="grid-container_top">
        <div class="grid-container_top_left">
          <p class="label_sale">Sale %</p>
          <a href="#"> <img src="{{ 'xedap1.png' | asset_url }}" alt="facebook_link"></a>
        </div>
        <div class="grid-container_top_center">
          <a href="#"> <img src="{{ 'tho2.png' | asset_url }}" alt="facebook_link"></a>
        </div>
        <div class="grid-container_top_right">
          <div class="img_children top">
            <p style="color: #7C81FF;border: 1px #7C81FF dashed;" class="label_sale">New</p>
            <a href="#"> <img src="{{ 'anh3.png' | asset_url }}" alt="facebook_link"></a>
            <div class="text_img_children">
              <h2>Pig Toy</h2>

              <div class="star_wrap">
                <input type="radio" name="rate">
                <input type="radio" name="rate">
                <input type="radio" name="rate">
                <input type="radio" name="rate">
                <input type="radio" name="rate">
              </div>
              <span class="price">$30</span>
              <a href="https://demo-tranning.myshopify.com/pages/products">
              <button class="add_cart">Add To Cart</button> </a>
            </div>
          </div>
          <div class="img_children bottom">
            <a href="#"> <img src="{{ 'oto4.png' | asset_url }}" alt="facebook_link"></a>
            <p class="label_sale">Sale %</p>
          </div>
        </div>
      </div>
      <div class="grid-container_bottom">
        <div class="grid-container_bottom_left">
          <p class="label_sale">Sale %</p>
           <img src="{{ 'oto_hong5.png' | asset_url }}" alt="facebook_link">
        
        </div>
        <div class="grid-container_bottom_right">
          <a href="#"> <img src="{{ 'ice_6.png' | asset_url }}" alt="facebook_link"></a>
          
            <div class="img_text_banner">
              <img src="{{ 'anh7.png' | asset_url }}" alt="facebook_link">
              <div class="text_banner">
                <h2>Seasonal Sale</h2>
                <p>50%</p>
              </div>
              <div class="hover-content-text">
                <p>New Sale Season	</p>
                <button class="hover-btn go_to_shop">go to shop</button>
              </div>
            </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Products Layout",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Seasonal Products"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Top Left Image"
    },
    {
      "type": "text",
      "id": "label_sale_top_left",
      "label": "Label for Top Left Image",
      "default": "Sale %"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Top Center Image"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Top Right Image"
    },
    {
      "type": "text",
      "id": "product_name_top_right",
      "label": "Product Name for Top Right",
      "default": "Pig Toy"
    },
    {
      "type": "text",
      "id": "price_top_right",
      "label": "Price for Top Right",
      "default": "$30"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Bottom Left Image"
    },
    {
      "type": "text",
      "id": "label_sale_bottom_left",
      "label": "Label for Bottom Left Image",
      "default": "Sale %"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Bottom Right Image"
    },
    {
      "type": "image_picker",
      "id": "image_6",
      "label": "Bottom Right Banner Image"
    },
    {
      "type": "text",
      "id": "text_banner_title",
      "label": "Text for Banner Title",
      "default": "Seasonal Sale"
    },
    {
      "type": "text",
      "id": "text_banner_subtitle",
      "label": "Text for Banner Subtitle",
      "default": "50%"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Layout"
    }
  ]
}
{% endschema %}
