{%- liquid
    assign sid = section.id
    assign content_width = section.settings.content_width
    assign container = section.settings.container
    assign space = section.settings.space
    assign limit = section.settings.limit | default: 8
    assign product_style = section.settings.product_style
    assign ratio = section.settings.ratio
    if ratio > 0
        assign aspect_ratio = ratio
    endif
    assign title_line = section.settings.title_line
    assign title_equal = section.settings.title_equal
    assign excerpt_line = section.settings.excerpt_line
    assign item_border = section.settings.item_border
    assign stretch_thumb = section.settings.stretch_thumb

    assign use-slider = section.settings.use-slider
    if use-slider
        assign arrows_style = section.settings.arrows_style
    endif
    assign title_style = section.settings.title_style
    assign title = section.settings.title
    assign title_width = section.settings.title_width
    assign title_bd = section.settings.title_bd
    assign title_space = section.settings.title_space | default: 0
-%}

{%- capture s_style -%}
    {% if use-slider %}--arrows-offset:var(--space-{{ title_space }});{% endif %}
    {% if title_line != blank %}--prd-title-line:{{ title_line }};{% endif %}
    {% if title_equal == '1' %}
        --prd-title-height:calc(var(--prd-title-line) * var(--prd-title-lh));
    {% elsif title_equal == '0' %}
        --prd-title-height:auto;
    {% endif %}
    {% if excerpt_line != blank %}--prd-excerpt-line:{{ excerpt_line }};{% endif %}
{%- endcapture -%}

<section id="{{ sid }}" class="alz-tab style-01 space-{{ space }} {{ arrows_style }}" style="{{ s_style | strip_newlines | remove: "  " }}">
    <div class="{{ content_width }}" style="{% if container != blank %}--container:{{ container }}{% endif %}">
        <div class="section-inner">
            <div class="tab-head alz-heading {{ title_style }} {% if title_bd %}title-border{% endif %} space-{{ title_space }}">
                {% if title != blank %}
                    <h2 class="title" {% if title_width != blank %}style="width:{{ title_width }}"{% endif %}><span class="text">{{ title }}</span></h2>
                {% endif %}
                {%- if section.blocks.size > 0 -%}
                    <div class="tab-content">
                        <div class="tab-products" data-sorting-collections-control="">
                            <div class="tab-mobile"><span class="js_sr_txt"></span></div>
                            <ul>
                                {% assign index = 1 %}
                                {%- for block in section.blocks -%}
                                    <li>
                                        {% liquid
                                            assign products = ''
                                            for product in block.settings.product_list
                                                assign products = products | append: ',' | append: product.handle
                                            endfor
                                        %}
                                        <a href="{{ collections[block.settings.collection].url | default: '#' }}"{% if section.blocks.size > 1 %}{% if forloop.index == 1 %} class="active"{% endif %}{% endif %}
                                           data-target="{{ block.settings.target }}" data-products="{{ products | remove_first: "," }}" data-collection="{{ collections[block.settings.collection].handle }}"
                                           data-limit="{{ limit }}" data-style="{{ product_style }}" {% if ratio > 0 %}data-ratio="{{ aspect_ratio }}"{% endif %}>
                                            {% if block.settings.title != blank %}
                                                <span>{{ block.settings.title }}</span>
                                            {% else %}
                                                <span>Tab Title {{ index }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% assign index = index | plus: 1 %}
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="sorting-collections slick-carousel {{ item_border }} {% unless use-slider %}grid-box-wrap{% endunless %} {% if stretch_thumb %}stretch-thumb{% endif %}" data-sorting-collections-ajax>
                <div data-js-collection-tab>
                    {%- for block in section.blocks limit: 1 -%}
                        {% if block.settings.target == 'products' %}
                            {% assign products = block.settings.product_list %}
                        {% else %}
                            {% assign products = collections[block.settings.collection].products %}
                        {% endif %}
                        <div class="product-list sorting-collections__products {% if use-slider %}grid-slider js_carousel{% else %}grid-box{% endif %}" data-sorting-items="true" {% if use-slider %}{%- render 'grid-slider' -%}{% endif %}>
                            {% assign animation_order = 0 %}
                            {% if products != blank %}
                                {% for product in products limit: limit %}
                                    <div data-lazy-product-load class="productLazyload lazyload">
                                        {% render 'product-style', product_style: product_style, product: product, aspect_ratio: aspect_ratio, animation_order: animation_order %}
                                    </div>
                                    {% assign animation_order = animation_order | plus: 1 %}
                                {% endfor %}
                            {% else %}
                                {% for i in (1..limit) %}
                                    <div data-lazy-product-load class="productLazyload lazyload">
                                        {% render 'product-style', product_style: product_style, product: '', aspect_ratio: aspect_ratio, animation_order: animation_order %}
                                    </div>
                                    {% assign animation_order = animation_order | plus: 1 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            {% if section.settings.show_view_all %}
                <p class="product-view-all text-center no-mobile">
                    <a class="button" href="{{ routes.root_url }}collections/all">{{ 'collections.general.view_all' | t }}</a>
                </p>
            {% endif %}
        </div>
    </div>
</section>

{%- render 'section_style' -%}
{%- render 'section_style_box' -%}

{%- schema -%}
{
    "name": "Tab Products 01",
    "class": "alz-section section-tab-product animate--slide-in tab-product type_tab_collection",
    "settings": [
        {
            "type": "number",
            "id": "z_index",
            "label": "Z-Index"
        },
        {
            "type": "select",
            "id": "hidden_mobile",
            "label": "Hide Section on mobile",
            "options": [
                {
                    "value": "",
                    "label": "No"
                },
                {
                    "value": "hide_1200",
                    "label": "(resolution < 1200px)"
                },
                {
                    "value": "hide_992",
                    "label": "(resolution < 992px)"
                },
                {
                    "value": "hide_768",
                    "label": "(resolution < 768px)"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full-width",
                    "label": "Full Width"
                },
                {
                    "value": "full-width-pd",
                    "label": "Full Width no Padding"
                }
            ]
        },
        {
            "type": "text",
            "id": "container",
            "label": "Container width",
            "info": "Example: 1410px, 70%, 70vw"
        },
        {
            "type": "text",
            "id": "space",
            "label": "Space",
            "info": "Example:10,20,30,40,50,60,70,80,90,100"
        },
        {
            "type": "header",
            "content": "== Title settings"
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Title style",
            "options": [
                {
                    "value": "style-01",
                    "label": "Style 01"
                },
                {
                    "value": "style-02",
                    "label": "Style 02"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New Arrivals"
        },
        {
            "type": "text",
            "id": "title_width",
            "label": "Title width",
            "info": "For style 01"
        },
        {
            "type": "checkbox",
            "id": "title_bd",
            "label": "Title border",
            "info": "For style 02"
        },
        {
            "type": "text",
            "id": "title_space",
            "label": "Space",
            "info": "Example:10,20,30,40,50,60,70,80,90,100",
            "default": "30"
        },
        {
            "type": "header",
            "content": "== Item settings"
        },
        {
            "type": "number",
            "id": "limit",
            "label": "Limit products",
            "default": 8
        },
        {
            "type": "checkbox",
            "id": "show_view_all",
            "label": "Show view all"
        },
        {
            "type": "select",
            "id": "product_style",
            "label": "Product style",
            "options": [
                {
                    "value": "1",
                    "label": "Style 01"
                },
                {
                    "value": "2",
                    "label": "Style 02"
                },
                {
                    "value": "3",
                    "label": "Style 03"
                },
                {
                    "value": "4",
                    "label": "Style 04"
                },
                {
                    "value": "5",
                    "label": "Style 05"
                }
            ]
        },
        {
            "type": "number",
            "id": "ratio",
            "label": "Image ratio",
            "info": "Ratio = width / height. Example: 1, 1.2, 0.8"
        },
        {
            "type": "text",
            "id": "title_line",
            "label": "Number of title line"
        },
        {
            "type": "select",
            "id": "title_equal",
            "label": "Title of products has equal height",
            "options": [
                {
                    "value": "",
                    "label": "Inherit"
                },
                {
                    "value": "1",
                    "label": "True"
                },
                {
                    "value": "0",
                    "label": "False"
                }
            ]
        },
        {
            "type": "text",
            "id": "excerpt_line",
            "label": "Number of excerpt line",
            "default": "3"
        },
        {
            "type": "select",
            "id": "item_border",
            "label": "Item border",
            "info": "If Full, Columns gap & Rows gap is 0",
            "options": [
                {
                    "value": "",
                    "label": "None"
                },
                {
                    "value": "border-image",
                    "label": "Image"
                },
                {
                    "value": "border-item",
                    "label": "Item"
                },
                {
                    "value": "border-between",
                    "label": "Between"
                },
                {
                    "value": "border-full",
                    "label": "Full"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "stretch_thumb",
            "label": "Stretch Thumbnail",
            "info": "For item border: item, full"
        },
        {
            "type": "header",
            "content": "== Loop settings"
        },
        {
            "type": "text",
            "id": "cols_number",
            "label": "Columns (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "5,5,4,3,3,2"
        },
        {
            "type": "text",
            "id": "cols_gap",
            "label": "Columns gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "text",
            "id": "rows_gap",
            "label": "Rows gap (6 screen resolutions)",
            "info": "Desktop,<1500,<1200,<992,<768,<480",
            "default": "30px,30px,20px,20px,16px,10px"
        },
        {
            "type": "checkbox",
            "id": "use-slider",
            "label": "Use slider?",
            "default": true
        },
        {
            "type": "range",
            "id": "slides-To-Scroll",
            "label": "Slide to scroll",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Rows",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 1
        },
        {
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {
            "type": "select",
            "id": "arrows_style",
            "label": "Arrows style",
            "options": [
                {
                    "value": "",
                    "label": "Default"
                },
                {
                    "value": "arrow-top",
                    "label": "On top"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "dots",
            "label": "Dots"
        },
        {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "default": "300",
            "info": "Speed in milliseconds"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay"
        },
        {
            "type": "text",
            "id": "autoplay-Speed",
            "label": "Autoplay Speed",
            "default": "3000",
            "info": "Autoplay Speed in milliseconds"
        },
        {
            "type": "checkbox",
            "id": "fade",
            "label": "Fade",
            "info": "Only use for 1 column"
        },
        {
            "type": "checkbox",
            "id": "center-Mode",
            "label": "Center Mode"
        },
        {
            "type": "checkbox",
            "id": "adaptive-Height",
            "label": "Adaptive Height"
        },
        {
            "type": "checkbox",
            "id": "infinite",
            "label": "Infinite"
        },
        {
            "type": "checkbox",
            "id": "vertical",
            "label": "Vertical"
        },
        {
            "type": "header",
            "content": "== Section settings"
        },
        {
            "type": "checkbox",
            "id": "for_inner",
            "label": "Settings apply for inner"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "bg_position",
            "label": "Background position",
            "info": "Example: center/top/bottom center/left/right, 100% 100%, 100px 100px",
            "default": "center center"
        },
        {
            "type": "text",
            "id": "bg_size",
            "label": "Background size",
            "info": "Example: cover, contain, 100% 100%, 100px 100px",
            "default": "cover"
        },
        {
            "type": "text",
            "id": "bg_repeat",
            "label": "Background repeat",
            "info": "Example: no-repeat, repeat, repeat-x, repeat-y",
            "default": "no-repeat"
        },
        {
            "type": "checkbox",
            "id": "bg_fixed",
            "label": "Background fixed",
            "info": "For desktop (resolution > 1200px)"
        },
        {
            "type": "color_background",
            "id": "bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "color",
            "id": "bg_cl",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "main_cl",
            "label": "Main color"
        },
        {
            "type": "color",
            "id": "main_cl_t",
            "label": "Main color - text inside"
        },
        {
            "type": "color",
            "id": "dark_cl",
            "label": "Dark color"
        },
        {
            "type": "color",
            "id": "dark_cl_2",
            "label": "Dark color 2"
        },
        {
            "type": "color",
            "id": "dark_cl_3",
            "label": "Dark color 3"
        },
        {
            "type": "color",
            "id": "light_cl",
            "label": "Light color"
        },
        {
            "type": "color",
            "id": "light_cl_2",
            "label": "Light color 2"
        },
        {
            "type": "color",
            "id": "line_cl",
            "label": "Line color"
        },
        {
            "type": "text",
            "id": "fz",
            "label": "Font size",
            "info": "Example: 16px"
        },
        {
            "type": "text",
            "id": "lh",
            "label": "Line Height",
            "info": "Example: 24px, 1.4em"
        },
        {
            "type": "text",
            "id": "ls",
            "label": "Letter spacing",
            "info": "Example: 1px, 0.1em"
        },
        {
            "type": "text",
            "id": "fw",
            "label": "Font weight",
            "info": "Example: 100, 200, 300, 400, 500, 600, 700, 800"
        },
        {
            "type": "text",
            "id": "tt",
            "label": "Text transform",
            "info": "Example: none, uppercase, lowercase, capitalize"
        },
        {
            "type": "color",
            "id": "bd_color",
            "label": "Border color"
        },
        {
            "type": "text",
            "id": "bd_style",
            "label": "Border style",
            "info": "Example: solid, dotted, dashed, double, groove, ridge, outset"
        },
        {
            "type": "text",
            "id": "bd_width",
            "label": "Border width",
            "info": "Example: 1px, 1px 0, 1px 0 0 0"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Example: 10px, 10px 0, 10px 0 0 0"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 1200px)"
        },
        {
            "type": "text",
            "id": "bd_width_1200",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_1200",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_1200",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 992px)"
        },
        {
            "type": "text",
            "id": "bd_width_992",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_992",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_992",
            "label": "Padding"
        },
        {
            "type": "header",
            "content": "== Settings (resolution < 768px)"
        },
        {
            "type": "text",
            "id": "bd_width_768",
            "label": "Border width"
        },
        {
            "type": "text",
            "id": "mg_768",
            "label": "Margin"
        },
        {
            "type": "text",
            "id": "pd_768",
            "label": "Padding"
        }
    ],
    "blocks": [
        {
            "type": "col",
            "name": "Tab products",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "select",
                    "id": "target",
                    "label": "Target products",
                    "options": [
                        {
                            "value": "collection",
                            "label": "Collection"
                        },
                        {
                            "value": "products",
                            "label": "Product list"
                        }
                    ]
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "product_list",
                    "id": "product_list",
                    "label": "Product list"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Tab Products 01",
            "category": "Product",
            "blocks": [
                {
                    "type": "col"
                },
                {
                    "type": "col"
                },
                {
                    "type": "col"
                }
            ]
        }
    ]
}
{% endschema %}
