<link rel="stylesheet" href="{{ 'blog_sidebar.css' |asset_url }}">
<link rel="stylesheet" href="{{ 'sidebar-products.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'top_single_post.css' |asset_url }}">

 <div class="container page_blog">
        <section class="posts_blog">
            <div class="items-products blog" id="items-page-1">
                <div class="blog-medium">
                    <a href="#">
                        <div class="blog_img">
                            <img src="{{ 'BlogImage.png' | asset_url }}" alt="">
                        
                         
                        </div>

                    </a>
                    <div class="meta_blog">

                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                    <img src="{{ 'author.png' | asset_url }}" alt="">
                                  
                                </div>

                                <p>John Doe</p>
                            </div>
                        </a>

                        <span>|</span>
                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                   <img src="{{ 'date.png' | asset_url }}" alt="">
                                   
                                </div>

                                <p>Nov 10, 2021</p>
                            </div>
                        </a>
                        <span>|</span>
                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                    <img src="{{ 'tags.png' | asset_url }}" alt="">
                                   
                                </div>

                                <p>Kids World</p>
                            </div>
                        </a>
                    </div>
                    <h2 class="title_blog">
                        Portable Play Yards for Indoor &amp; Outdoor Fun
                    </h2>
                    <p class="content_blog">
                        Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
                        <br>pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci
                        malesuada<br> porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
                    </p>
                </div>
                <p>Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum, pellentesque
                    ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci malesuada porta.
                    Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum . nteger pellentesque et elit
                    mattis mollis. Proin rhoncus viverra orci eu fringilla. Aenean nec tortor nisi. Sed non iaculis leo,
                    ut cursus lorem. Proin ultricies dapibus lectus non consectetur. Nullam elementum sed sapien eu
                    efficitur. Donec maximus lectus at neque tincidunt, quis imperdiet magna ornare. Vivamus in congue
                    libero, non mattis dolor. Curabitur eu risus tempor, mollis turpis eu, venenatis magna.
                </p>
                <p >
                    Sed ultricies nunc tellus, sed mattis purus ornare id. Nunc condimentum mattis tellus. Maecenas a
                    tellus at justo molestie pulvinar eget quis justo. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia curae; Duis sagittis porta augue a aliquet. Nunc orci urna,
                    bibendum et scelerisque vitae, porttitor eu erat. Curabitur eget nunc at augue elementum fringilla.
                    Sed molestie, metus in sodales tincidunt, risus magna varius dui, at pellentesque lorem lacus in
                    dui. Sed a metus eget massa fringilla convallis </p>
                <div class="txt_content">
                    <h5>Build and Explore</h5>
                    <p>Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enim, in luctus nunc nisi eu neque. Aenean lacinia, tortor ac sagittis venenatis, massa velit fringilla tortor, a venenatis mi sapien. Maecenas a tellus at justo molestie pulvinar </p>
                </div>
                <div class="txt_content bottom">
                    <h5>Practical gifts to make outings and clean-up easier and fast</h5>
                    <p>Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enimr/ Duis sagittis porta augue a aliquet. Nunc orci urna, bibendum et scelerisque vitae, porttitor eu erat. Curabitur eget nunc at augue elementum fringilla. Sed molestie, metus in sodales tincidunt, risus magna  </p>
                    <p>Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enim, in luctus nunc nisi eu neque. Aenean lacinia, tortor ac sagittis venenatis, massa velit fringilla tortor, a venenatis mi sapien. Maecenas a tellus at justo molestie pulvinar </p>
                    <div class="quote">
                        <div class="img_border_quote">
                            <img src="{{ 'border_quoet.png' | asset_url }}" alt="">
                          
                        </div>
                        <div class="content_quoet">
                            <span class="content_text">“Nam porta nisi sit amet gravida sodales. Pellentesque placerat ultricies <br> ipsum vel dictum. Suspendisse interdum nisi ac varius hendrerit. Sed pulvinar,<br> metus euismod accumsan viverra, neque arcu hendrerit mauris”</span>
                           <h6 class="author">John Doe</h6>
                        </div>
                    </div>
                    <div class="img_quoet">
                        <img src="{{ 'quoet.png' | asset_url }}" alt="">
                        
                    </div>
                 </div>
                <p>Ut commodo, tellus id gravida ultricies, libero mauris aliquam enim, in luctus nunc nisi eu neque. Aenean lacinia, tortor ac sagittis venenatis, massa velit fringilla tortor, a venenatis mi sapien a odio. Donec scelerisque ipsum eu porttitor suscipit. Maecenas lectus velit, efficitur vitae velit sit amet, cursus auctor purus. Quisque leo erat, aliquam sed laoreet sed, viverra ac tortor. Sed molestie, metus in sodales tincidunt, risus magna varius dui, at pellentesque lorem lacus in dui. Sed a metus eget massa fringilla convallis. Curabitur ut erat tristique, volutpat ante at, ultrices libero. Pellentesque ut egestas nisi. Nulla vitae libero sem. Cras iaculis quam eget nulla iaculis interdum. Vivamus lectus lorem, accumsan et condimentum sit amet, posuere eget tortor</p>
            </div>
            <div class="items-products blog" id="items-page-2" style="display: none;">
                <div class="txt_content">
                    <h5>Build and Explore</h5>
                    <p>Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enim, in luctus nunc nisi eu neque. Aenean lacinia, tortor ac sagittis venenatis, massa velit fringilla tortor, a venenatis mi sapien. Maecenas a tellus at justo molestie pulvinar </p>
                </div>
                <div class="txt_content bottom">
                    <h5>Practical gifts to make outings and clean-up easier and fast</h5>
                    <p>Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enimr/ Duis sagittis porta augue a aliquet. Nunc orci urna, bibendum et scelerisque vitae, porttitor eu erat. Curabitur eget nunc at augue elementum fringilla. Sed molestie, metus in sodales tincidunt, risus magna  </p>
                    <p style="margin-top: 20px;">Nullam elit elit, vehicula sit amet lobortis quis, luctus vitae purus. Etiam vitae leo non magna venenatis congue. Ut commodo, tellus id gravida ultricies, libero mauris aliquam enim, in luctus nunc nisi eu neque. Aenean lacinia, tortor ac sagittis venenatis, massa velit fringilla tortor, a venenatis mi sapien. Maecenas a tellus at justo molestie pulvinar </p>
                    <div class="quote">
                        <div class="img_border_quote">
                            <img src="{{ 'border_quoet.png' | asset_url }}" alt="">
                           
                        </div>
                        <div class="content_quoet">
                            <span class="content_text">“Nam porta nisi sit amet gravida sodales. Pellentesque placerat ultricies <br> ipsum vel dictum. Suspendisse interdum nisi ac varius hendrerit. Sed pulvinar,<br> metus euismod accumsan viverra, neque arcu hendrerit mauris”</span>
                           <h6 class="author">John Doe</h6>
                        </div>
                    </div>
                    <div class="img_quoet">
                        <img src="{{ 'quoet.png' | asset_url }}" alt="">
                      
                    </div>
                   
                </div>
            </div>
            <div class="items-products blog" id="items-page-3" style="display: none;">
                <div class="blog-medium">
                    <a href="#">
                        <div class="blog_img">
                            <img src="{{ 'BlogImage.png' | asset_url }}" alt="">
                        </div>

                    </a>
                    <div class="meta_blog">

                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                    <img src="{{ 'author.png' | asset_url }}" alt="">
                                  
                                </div>

                                <p>John Doe</p>
                            </div>
                        </a>

                        <span>|</span>
                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                    <img src="{{ 'date.png' | asset_url }}" alt="">
                                
                                </div>

                                <p>Nov 10, 2021</p>
                            </div>
                        </a>
                        <span>|</span>
                        <a href="#">
                            <div class="sticky-post">
                                <div class="img_sticky-post">
                                    <img src="{{ 'tag.png' | asset_url }}" alt="">
                                
                                </div>

                                <p>Kids World</p>
                            </div>
                        </a>
                    </div>
                    <h2 class="title_blog">
                        Portable Play Yards for Indoor &amp; Outdoor Fun
                    </h2>
                    <p class="content_blog">
                        Suspendisse fermentum ante eu libero molestie aliquam. Pellentesque ut diam condimentum,
                        <br>pellentesque ante imperdiet, ultricies dui. Praesent eu lectus enim. Fusce ac nisi non orci
                        malesuada<br> porta. Quisque blandit non lectus d dignissim. Vestibulum mi ex, condimentum
                    </p>
                </div>
            </div>
            <div class="tag_share-blog">
              <div class="pagination_products">
                <div class="pagination_product">
                    <!-- Giả lập nút phân trang -->
                    <div class="pagination" data-page="1">Children</div>
                    <div class="pagination" data-page="2">Art & Carft</div>
                    <div class="pagination" data-page="3">Kids</div>
                </div>
                <div class="share_post">
                    <h2>Share:</h2>
                    <div class="footer-right-img">
                        <a href="https://www.facebook.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/fb.png?v=68184076732187656631726679710" alt="facebook_link">
                        </a>
                        <a href="https://x.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/blank.png?v=24844204352944884761726679855" alt="x.com_link">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/instagam.png?v=61325985613351428541726679992" alt="instagram_link">
                        </a>
                    </div>
                </div>
              </div>
                
            </div>
            <div class="author_box">
                <div class="img_left-box__text">
                    <img src="{{ 'Author_box.png' | asset_url }}" alt="">
                    
                </div>
                <div class="elementor-author-box__text">
                    <h5>Author</h5>
                  <h2>John Doe</h2>
                    <p>Cras et massa vitae purus pretium rhoncus vel placerat dolor. Pellentesque habitant morbi tristiques</p>
                    <div class="footer-right-img author">
                        <a href="https://www.facebook.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/fb.png?v=68184076732187656631726679710" alt="facebook_link">
                        </a>
                        <a href="https://x.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/blank.png?v=24844204352944884761726679855" alt="x.com_link">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                          <img src="//demo-tranning.myshopify.com/cdn/shop/t/1/assets/instagam.png?v=61325985613351428541726679992" alt="instagram_link">
                        </a>
                    </div>
                </div>
            </div>
           <div class="posts_navigator">
                <div class="left-post_nav">
                    <a href="#"><button class="prev-btn">&lt; PREV</button></a>
                    <div class="recent_post">
                        <div class="img-recent_post">
                            <img src="{{ 'earphone.png' | asset_url }}" alt="">
                           
                        </div>
                        <div class="txt-recent_post">
                            <h2>Snackable Science Experiments for Kids</h2>
                            <div class="date-recent_post">
                                <div class="date_img">
                                    <img src="{{ 'date.png' | asset_url }}" alt="">
                                  
                                </div>
                                <p>Nov 20, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-post_nav"></div>
                <div class="right-post_nav">
                    <a href="#"><button class="next-btn right">NEXT &gt;</button></a>
                    <div class="recent_post">
                        <div class="img-recent_post">
                            <img src="{{ 'Blog_Image.png' | asset_url }}" alt="">
                            
                        </div>
                        <div class="txt-recent_post">
                            <h2>Snackable Science Experiments for Kids</h2>
                            <div class="date-recent_post">
                                <div class="date_img">
                                  <img src="{{ 'date.png' | asset_url }}" alt="">
                                </div>
                                <p>Nov 20, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="card_comment">
                <h2>3 Comments</h2>
                <div class="all_comments">
                    <div class="item_comment">
                        <a href="#">
                            <div class="img-item_comment">
                              <img src="{{ 'Oval_comment1.png' | asset_url }}" alt="">
                                

                            </div>
                        </a>

                        <div class="content_txt-item_comment">
                            <div class="top-title_comment">
                                <div class="title_comment">
                                    <h2>John Doe</h2>
                                    <p>November 10, 2021 at 2:00pm </p>

                                </div>
                                <a href="#">
                                    <div class="reply_comment">
                                      <img src="{{ 'Reply_comment.png' | asset_url }}" alt="">
                                      
                                    </div>
                                </a>
                               

                            </div>
                            <p class="bottom-title_comment">Quisque blandit non lectus id dignissim. Vestibulum mi ex, condimentum et consectetur
                                non, interdum sed mauris. Sed cursus nunc ac pellentesque porttitor</p>
                        </div>
                    </div>
                    <div class="item_comment right">
                        <a href="#">
                            <div class="img-item_comment">
                              <img src="{{ 'Oval_comment2.png' | asset_url }}" alt="">
                              

                            </div>
                        </a>

                        <div class="content_txt-item_comment">
                            <div class="top-title_comment">
                                <div class="title_comment">
                                    <h2>Miranda Styles</h2>
                                    <p>November 10,  2021 at 3:00pm   </p>

                                </div>
                                <a href="#">
                                    <div class="reply_comment">
                                      <img src="{{ 'Reply_comment.png' | asset_url }}" alt="">
                                      
                                    </div>
                                </a>
                               

                            </div>
                            <p class="bottom-title_comment">Vestibulum mi ex, condimentum et consectetur non, interdum sed mauris</p>
                        </div>
                    </div>
                    <div class="item_comment">
                        <a href="#">
                            <div class="img-item_comment">
                              <img src="{{ 'Oval_comment3.png' | asset_url }}" alt="">
                              

                            </div>
                        </a>

                        <div class="content_txt-item_comment">
                            <div class="top-title_comment">
                                <div class="title_comment">
                                    <h2>Clarissa Rodgers</h2>
                                    <p>November 10,  2021 at 2:00pm   </p>

                                </div>
                                <a href="#">
                                    <div class="reply_comment">
                                      <img src="{{ 'Reply_comment.png' | asset_url }}" alt="">
                                       
                                    </div>
                                </a>
                               

                            </div>
                            <p class="bottom-title_comment">Quisque blandit non lectus id dignissim. Vestibulum mi ex, condimentum et consectetur
                                non, interdum sed mauris. Sed cursus nunc ac pellentesque porttitor</p>
                        </div>
                    </div>
                </div>

                <div class="comment_form">
                    <h2>Add Your Comment</h2>
                    <div class="fields_email">
                        <div class="form_email">
                            <input class="input-text-email email-name" type="email" name="EMAIL" required="required"
                                placeholder="Your Name">
                        </div>
                        <div class="form_email">
                            <input class="input-text-email email-name" type="email" name="EMAIL" required="required"
                                placeholder="Your e-mail">
                        </div>
                    </div>
                    <div class="form-message">
                        <textarea name="content" class="form-control " id="detail-comment" rows="" cols=""
                            placeholder="Your Message"></textarea>
                    </div>
                    <a href="#"><button class="btn-submit">Submit</button></a>
                </div>
                
            </div>
        </section>
        <section class="sidebar_blog">
            <div class="sidebar_infor">
                <h4>Search</h4>
                <div class="search-form">
                    <form action="https://joytoy.templatekit.co" method="get">
                        <label class="text-field field-search">
                            <input id="elementor-search-form-8262d8a" class="input-text elementor-search-form__input"
                                type="search" name="s" required="required" placeholder="I’m searching for…">
                            <span class="input-focus"></span>
                        </label>
                        <button class="btn_search" type="submit">
                            <i class='bx bx-search' style='color:#ffffff'></i>

                        </button>
                    </form>
                </div>
            </div>
            <div class="infor_categories sidebar_infor">
                <h4 class="title_infor-sidebar">Categories</h4>
                <ul class="list_infor">
                    <li>Newborn Shop</li>
                    <li>Baby Care Products</li>
                    <li>Toddlers Shop</li>
                    <li>School Clothing & Sets</li>
                    <li>Toys & Games</li>
                    <li>Books & Stationary</li>
                    <li>Strollers & Car Seats</li>
                    <li>Ride-Ons</li>
                </ul>
            </div>
            <div class="recent-posts sidebar_infor">
                <h4>Recent Posts</h4>
                <a href="#">
                    <div class="recent-posts_small">
                        <div class="blog_image">
                            
                            <img src="{{ 'RecentPosts1.png' | asset_url }}" alt="">
                        </div>
                        <div class="content-blog_image">
                            <h5>
                                Homemade Gifts <br>
                                for 3 Year Olds that <br>
                                They Can Help Make
                            </h5>
                            <div class="date_title">
                                <div class="date_image">
                                    <img src="{{ 'date.png' | asset_url }}" alt="">
                                </div>
                                <p>Nov 10, 2021</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="recent-posts_small">
                        <div class="blog_image">
                            <img src="{{ 'RecentPosts2.png' | asset_url }}" alt="">
                        </div>
                        <div class="content-blog_image">
                            <h5>
                                The Emotional<br>
                                Rollercoaster of <br>
                                Parenting
                            </h5>
                            <div class="date_title">
                                <div class="date_image">
                                    <img src="{{ 'date.png' | asset_url }}" alt="">
                                </div>
                                <p>Nov 18, 2021</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="recent-posts_small">
                        <div class="blog_image">
                            <img src="{{ 'RecentPosts3.png' | asset_url }}" alt="">
                        </div>
                        <div class="content-blog_image">
                            <h5>
                                Snackable Science<br>
                                Experiments for <br>
                                Kids
                            </h5>
                            <div class="date_title">
                                <div class="date_image">
                                    <img src="{{ 'date.png' | asset_url }}" alt="">
                                </div>
                                <p>Nov 20, 2021</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="sidebar_infor">
                <h4>Recent Comments</h4>
                <div class="recent_comments">
                    <div class="img_comment">
                        <img src="{{ 'comment.png' | asset_url }}" alt="">
                    </div>
                    <div class="content_comment">
                        <p>
                            <span class="author_comment">John Doe </span>Praesent eu lectus enim.<br>
                            Fusce ac nisi non orci tus de malesuada
                        </p>
                    </div>
                </div>
                <div class="recent_comments">
                    <div class="img_comment">
                        <img src="{{ 'comment.png' | asset_url }}" alt="">
                    </div>
                    <div class="content_comment">
                        <p>
                            <span class="author_comment">Author </span>Praesent eu lectus enim. Fusce <br>
                            ac nisi non orci tus de <br>
                            malesuada
                        </p>
                    </div>
                </div>
                <div class="recent_comments">
                    <div class="img_comment">
                        <img src="{{ 'comment.png' | asset_url }}" alt="">
                    </div>
                    <div class="content_comment">
                        <p>
                            <span class="author_comment">Melinda Watson</span> Praesent eu lectus <br>
                            enim. Fusce ac nisi non orci tus de malesuada
                        </p>
                    </div>
                </div>
            </div>
            <div class="sidebar_infor">
                <h4>Calendar</h4>
                <div class="calendar">
                    <div class="calendar-header">
                        <div class="month-year"><span id="month"></span> <span id="year"></span></div>
                    </div>
                    <div class="calendar-body">
                        <div class="day-names">
                            <span>S</span>
                            <span>M</span>
                            <span>T</span>
                            <span>W</span>
                            <span>T</span>
                            <span>F</span>
                            <span>S</span>
                        </div>
                        <div class="calendar-days" id="calendar-days">
                            <!-- Days will be populated here -->
                        </div>
                    </div>
                    <div class="btn_month">
                        <button class="prev-btn">&lt; PREV</button>
                        <button class="next-btn">NEXT &gt;</button>
                    </div>
                </div>
            </div>
            <div class="sidebar_infor">
                <h4>Archives</h4>
                <div class="archives">
                    <div class="infor_archives">
                        <div class="img_archives">
                            <img src="{{ 'arrow.png' | asset_url }}" alt="">
                        </div>

                        <a href="#">
                            <p>August 2021</p>
                        </a>
                    </div>
                    <div class="infor_archives">
                        <div class="img_archives">
                            <img src="{{ 'arrow.png' | asset_url }}" alt="">
                        </div>
                        <a href="">
                            <p>September 2021</p>
                        </a>
                    </div>
                    <div class="infor_archives">
                        <div class="img_archives">
                            <img src="{{ 'arrow.png' | asset_url }}" alt="">
                        </div>

                        <a href="#">
                            <p>October 2021</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar_infor">
                <h4>Tags</h4>
                <div class="selec_tags">
                    <div class="infor_tags">
                        <a class="tag_children" href="#">Children</a>
                        <a class="tag_new-collection" href="#">New Collection</a>
                    </div>

                    <div class="infor_tags">
                        <a class="tag_kids" href="#">Kids</a>
                        <a class="tag_art" href="#">Art & Carft</a>
                    </div>
                    <div class="infor_tags">
                        <a class="tag_baby-care" href="#">Baby Care</a>
                    </div>
                </div>
            </div>
            <div class="sidebar_infor">
                <h4>Gallery</h4>
                <div class="img_gallery">
                    <div class="img_gallery_card">
                       <a href="#"><img src="{{ 'Gallery1.png' | asset_url }}" alt=""></a>
                       <a href="#"><img src="{{ 'Gallery2.png' | asset_url }}" alt=""></a>
                      <a href="#"><img src="{{ 'Gallery3.png' | asset_url }}" alt=""></a>
                    </div>

                    <div class="img_gallery_card">
                        <a href="#"><img src="{{ 'Gallery4.png' | asset_url }}" alt=""></a>
                       <a href="#"><img src="{{ 'Gallery5.png' | asset_url }}" alt=""></a>
                      <a href="#"><img src="{{ 'Gallery6.png' | asset_url }}" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% schema %}
  {
    "name": "Top Single Post",
    "settings": [
       {
      "type": "image_picker",
      "id": "image_blog_1",
      "label": "Hình ảnh Blog 1"
    },
    {
      "type": "text",
      "id": "title_blog_1",
      "label": "Tiêu đề Blog 1"
    },
    {
      "type": "textarea",
      "id": "content_blog_1",
      "label": "Nội dung Blog 1"
    },
    {
      "type": "text",
      "id": "author_blog_1",
      "label": "Tác giả Blog 1"
    },
    {
      "type": "text",
      "id": "date_blog_1",
      "label": "Ngày đăng Blog 1"
    },
    {
      "type": "text",
      "id": "tag_blog_1",
      "label": "Thẻ Blog 1"
    },
    {
      "type": "url",
      "id": "read_more_link_1",
      "label": "Liên kết đọc thêm Blog 1"
    }
    ]
  }
{% endschema %}

<script src="{{ 'pagination.js' | asset_url }}" defer></script>
<script src="{{ 'tag_list.js' | asset_url }}" defer></script>
<script src="{{ 'time_schedule.js' | asset_url }}" defer></script>