{%- layout none -%}
{%- liquid
    assign currently = product.selected_or_first_available_variant
    assign image = currently.featured_image | default: product.featured_image
    assign pr_variants = product.variants
    assign available_v = pr_variants | where: "available"
    assign available_v_1 = available_v.first
-%}

<div id="product-quick-edit-cart" class="js-quick-edit-cart mfp-popup-content" data-js-product>
    <h3 class="mfp-popup-title">{{ 'cart.general.quick_edit' | t }}</h3>
    <script class="data-json-product" type="application/json">{% render 'product-get-attributes', product: product, build_variant: 'json' %}</script>
    <div class="quickedit-inner">
        <div class="quickedit-product">
            <a class="quickedit-thumb" href="{{ product.url }}" data-js-product-image>
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img data-image-lazy alt="{{ product.title | escape }}" data-src="{{ img_url }}" data-widths="[75, 150]"
                     data-sizes="auto" class="js_fgr_img pr_lazy_img lazyload "
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </a>
            <div class="quickedit-info">
                {% render 'product-get-title', product: product %}
                {% render 'product-get-price-single', product: product %}
                <div data-product-quantity class="js-quantity quantity">
                    <a rel="nofollow" data-no-instant class="js_minus minus" href="#">
                        <i class="main-icon-minus"></i>
                    </a>
                    <input type="text" class="input-text js_qty" data-step="1" data-min="1"
                           data-max="{% if currently.inventory_management != null %}{{ currently.inventory_quantity }}{% else %}9999{% endif %}"
                           name="quantity" value="1" size="4" pattern="[0-9]*" inputmode="numeric">
                    <a rel="nofollow" data-no-instant class="js_plus plus" href="#">
                        <i class="main-icon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="variations_form">
            {%- if available_v.size < 2 -%}
                <input class="js_sticky_sl" name="id" value="{{ available_v_1.id }}" type="hidden">
            {%- else -%}
                {% render 'product-get-options', product: product, show_title_variant: true %}
            {% endif %}
        </div>
        <button style="display:none" data-js-product-button-add-to-cart
                class="single_add_to_cart_button js_add_to_cart_button" data-pid="{{ currently.id }}">
            <span class="circle-loading"></span>
            <span class="text">{{ 'products.product.add_to_cart' | t }}</span>
            <span class="txt_out_stock d-none">{{ 'products.product.out_stock' | t }}</span>
        </button>
        <button class="single_add_to_cart_button js_edit_cart_button" data-pid="{{ currently.id }}">
            <span class="circle-loading"></span>
            <span class="text">{{ 'products.product.add_to_cart' | t }}</span>
            <span class="txt_out_stock d-none">{{ 'products.product.out_stock' | t }}</span>
        </button>
    </div>
</div>
